[2020-03-20 04:03] nopermissionsuser opened #5 "Creating an issue as user with no permissions"

[2020-03-20 04:03] nopermissionsuser commented on #5
Experimenting link to PR #4

[2020-03-20 04:06] nopermissionsuser commented on #5
Linking cross repo https://github.com/factn/coronadonor-api/issues/7

[2020-03-20 04:19] utunga commented on #5
factn/coronadonor-frontend

[2020-03-20 04:19] #5 closed

[2020-03-21 14:23] mat10tng opened #6 "Sign-up screen [In Progress by Terrence]"
![image](https://user-images.githubusercontent.com/3273671/77228454-e847d480-6b87-11ea-99eb-f759df125b64.png)
Link to Figma design: [Link](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Corona-Donor-Designs-in-progress?node-id=170%3A255)
Please refer to figma design as it has changed! The picture uploaded are only used as a point of ref.

[2020-03-21 14:25] mat10tng opened #7 "Home screen [await pr review]"
![image](https://user-images.githubusercontent.com/3273671/77228504-26dd8f00-6b88-11ea-9fac-a5e0f2c48816.png)

[2020-03-21 18:10] CSumm commented on #6
@mat10tng are you doing this issue, or is it possible for me to take up the job?

[2020-03-21 18:21] mat10tng commented on #6
Hi, please check with @Terrence  in slack channel, He said he was ready to take it up. But I have no clue. I will try to get some more issues going

[2020-03-21 21:43] #7 closed

[2020-03-21 22:09] Erika-Margaret opened #9 "Replace favicon on landing page"
Once designs for logo and new LP are complete, we need to replace the favicon for the landing page:
https://coronadonor.org/

[2020-03-21 22:17] mat10tng opened #10 "Make a request route"
![image](https://user-images.githubusercontent.com/3273671/77237632-13ebae80-6bca-11ea-8262-9af14cb98c14.png)

Image is only for ref, might be changed in the design
[Link ](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Corona-Donor-Designs-in-progress?node-id=0%3A1) to the design

[2020-03-21 23:01] mat10tng opened #11 "Authenticate number confirmation screen"
![image](https://user-images.githubusercontent.com/3273671/77238433-1ea94200-6bd0-11ea-9615-20af80a2007a.png)

[Link ](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Corona-Donor-Designs-in-progress?node-id=0%3A1)to design

[2020-03-21 23:05] mat10tng opened #12 "Request posted screen"
![image](https://user-images.githubusercontent.com/3273671/77238499-c757a180-6bd0-11ea-8721-82c5e18b83ad.png)

[2020-03-22 07:36] mat10tng opened #14 "webpack production build"
We are having some trouble with minimization and webpack. Try npm run build from master branch

I traced the error to this:
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/234

If anyone want to do something about it, be my guest, I will remove the webpack config in heroku branch for now untill someone can provide a better config

[2020-03-22 11:58] utunga commented on #14
Grr.. FWIW I have found that 90% of the time these annoying webpack build errors are due to versions of the libraries not being consistent with when first developed and/or the version of node having been upgraded. The easy way around it is usually just to re-scaffold with a more recent version of node and then specify the exact engine in the package.json ( using the "engines" field etc)

[2020-03-22 13:02] #10 closed

[2020-03-22 13:08] #6 closed

[2020-03-22 17:32] #14 closed

[2020-03-22 17:32] #12 closed

[2020-03-22 17:33] #11 closed

[2020-03-22 17:33] #9 closed

[2020-03-22 17:38] mat10tng opened #20 "TextArea Stories With Label"
![image](https://user-images.githubusercontent.com/3273671/77256062-23233880-6c6c-11ea-95a7-f6d7d5776fe7.png)
Create a component with this specification
props includes: label, maxlength

[2020-03-22 17:40] mat10tng opened #21 "Button Stories / In Progress - Terrence"
![image](https://user-images.githubusercontent.com/3273671/77256125-83b27580-6c6c-11ea-8ed6-b3632b20bfe8.png)

[2020-03-22 17:41] mat10tng opened #22 "TextInput story / In progress-Ruchi Jain"
![image](https://user-images.githubusercontent.com/3273671/77256156-ae9cc980-6c6c-11ea-8c9d-001a81df1710.png)

[2020-03-22 17:41] mat10tng opened #23 "Photo upload component story // In Progress - Terrence"
![image](https://user-images.githubusercontent.com/3273671/77256172-cf651f00-6c6c-11ea-8d7f-724fe3959c04.png)

[2020-03-22 21:03] #21 closed

[2020-03-22 21:11] mat10tng opened #25 "Map component // Csumm"
![image](https://user-images.githubusercontent.com/3273671/77260738-1a415f80-6c8a-11ea-8ea2-3b68b862abf7.png)

[2020-03-22 21:13] mat10tng opened #26 "Theme.js update accordingly to Figma // In process by Ani"
We want to sync theme.js to figma color, according to their material design

[2020-03-23 00:50] CSumm commented on #25
Is there a particular API we want to use for the Map such as Google Maps? Also is anyone currently working on this issue?

[2020-03-23 05:32] #22 closed

[2020-03-23 05:33] mat10tng commented on #25
No api yet, and no one have been taking the issue.  You are free to choose what is needed for now.

[2020-03-23 05:43] #20 closed

[2020-03-23 05:50] mat10tng opened #28 "Additional Button Style"
![image](https://user-images.githubusercontent.com/3273671/77285816-336dfe80-6cd2-11ea-87db-bb7d9b2b50d5.png)
![image](https://user-images.githubusercontent.com/3273671/77285841-441e7480-6cd2-11ea-9afb-973c8b3b9448.png)

create color, bgcolor (we are following material design component api) as props that will override any of the button preset.

[2020-03-23 08:11] CSumm commented on #25
Also another question, is the colors in the photo what we want them to be? And there already exists code for the map inside of the codebase. You simply want us to just design the sass file?

[2020-03-23 09:08] mat10tng opened #29 "HomeScreen"
![image](https://user-images.githubusercontent.com/3273671/77300260-092a3a00-6cee-11ea-9334-883a939cebfc.png)

Ignore the appbar, and color, go with hardcoded if you like for now, we will input theme later
Making sure you are using existing component, if it not existing, you can ignore it for now, add a placeholder with correct dimensions
maxwidth of container to 600px!

app/page/Home

Home.js
Hom

[2020-03-23 09:12] mat10tng opened #30 "MakeARequestPage //Terrence"
![image](https://user-images.githubusercontent.com/3273671/77300426-4d1d3f00-6cee-11ea-8476-f8039730f2d0.png)

Ignore the appbar, and color, go with hardcoded if you like for now, we will input theme later
Making sure you are using existing component, if it not existing, you can ignore it for now
maxwidth of container to 600px!

app/page/RequestCreate

[2020-03-23 09:28] mat10tng opened #31 "Create new account page // Ruchi Rain"
![image](https://user-images.githubusercontent.com/3273671/77301995-e4839180-6cf0-11ea-94d1-e1b94f319e9b.png)

Ignore the appbar, and color, go with hardcoded if you like for now, we will input theme later
Making sure you are using existing component, if it not existing, you can ignore it for now
maxwidth of container to 600px!

app/page/AccountCreate

AccountCreate.js
AccountCreate.style.js
Accou

[2020-03-23 13:15] ruchijn commented on #28
I am working on it.

[2020-03-23 13:56] mat10tng opened #34 "AuthenticaAccountPhoneNumberPage"
![image](https://user-images.githubusercontent.com/3273671/77322433-ffb3c880-6d13-11ea-8ef0-3bd862f56dc8.png)

Ignore color, go with hardcoded if you like for now, we will input theme later
Making sure you are using existing component, if it not existing, you can ignore it for now
maxwidth of container to 600px!

app/page/AccountAuthPhoneConfirm

AccountAuthPhoneConfirm.js
AccountAuthPhone.style.j

[2020-03-23 14:09] mat10tng opened #35 "Accessibility Information // Vim Shah"
Compile a list of important accessibility when programming.

Official guideline: https://www.w3.org/WAI/WCAG21/quickref/

[2020-03-23 15:16] considine commented on #30
Have we decided on the payment service? Stripe?

[2020-03-23 15:23] mat10tng commented on #30
We are not going to work with payment at this time.

[2020-03-23 16:50] #23 closed

[2020-03-23 17:38] snowcoding commented on #35
Researching various strategies based on React documentation:

https://reactjs.org/docs/accessibility.html#development-assistance

[2020-03-23 17:39] considine commented on #34
I can take this one

[2020-03-23 18:41] thedma04 commented on #30
@mat10tng can you assign this to me

[2020-03-23 20:42] #29 closed

[2020-03-23 21:40] mat10tng opened #38 "Setup Redux system"
redux architectural would almost be alike to this one https://github.com/erikras/ducks-modular-redux
but structure like this
model/
  user/
    index.js //export stuff here
    actions.js // All the const action + action creator here
    user.js // the model, here is what requester can do, such as api to backend, example

this.props.dispatch( user.requestNewRequest() )  // this function handle asy

[2020-03-23 23:15] mat10tng opened #40 "Setup automated test before commit, push"
We have now Husky which will do automated linter each time we commit
https://github.com/typicode/husky

I would like to have also automated test each time we commit + push as well

[2020-03-23 23:56] mat10tng opened #42 "Update Readme.md : npm ci insteall of npm install"
We are going to use npm ci instead of npm install. This is to preven our package-lock.json change every time npm install is running. Also it is more strict.

README.md should update about standard for this change.

[2020-03-24 06:45] CSumm commented on #40
CircleCI a good tool. It requires admin access to install however

[2020-03-24 06:52] mat10tng commented on #40
Yeah, I think we can just make sure that the tests are running in local before it is pushed into the branch?
// package.json
{
  "husky": {
    "hooks": {
      "pre-commit": "npm test",
      "pre-push": "npm test",
      "...": "..."
    }
  }
}

[2020-03-24 15:55] Raf-Batista commented on #40
Based on what I found I think we can do something like this.

// package.json
"husky": {
  "hooks": {
    "pre-commit": "npm run lint && npm test",
    "pre-push": "npm run lint && npm test"
  }
}

I'll do some more reading into Husky

[2020-03-24 18:13] zerinoid commented on #42
can we mark this as solved?

[2020-03-24 18:22] zerinoid commented on #28
@ruchijn ring me if you need any help

[2020-03-24 18:53] Raf-Batista commented on #31
I can take this if no one is on it already.

[2020-03-24 19:08] #42 closed

[2020-03-24 19:10] mat10tng commented on #31
Hi, its in progress already, you can see it in the label

[2020-03-24 19:13] Raf-Batista commented on #31
Oops, did't notice it. Good thing I came back here. I was just about to get started.

[2020-03-25 07:48] #30 closed

[2020-03-25 08:57] #31 closed

[2020-03-25 11:10] #38 closed

[2020-03-25 13:44] lucasgrelaud opened #57 "Potential security issue"
Hi,
I noticed you've left sensitive information in the following file;
 - [Firebase credentials](https://github.com/factn/mutualaidworld_frontend/blob/master/src/config/firebase.ts)

This may lead to a security issue in your app, so you should remove these informations from your repository.

Regards,
Lucas GRELAUD

[2020-03-25 13:51] mat10tng commented on #57
Hi! Agree, we will do that after our mvp is done. Once we decided to go to production, all databases will be purge and we will be keeping secret locally

[2020-03-25 14:27] lucasgrelaud commented on #57
Alright !

[2020-03-25 15:40] considine commented on #57
Hey guys,
It might be a good idea to add firebase config to .gitignore, but I believe that's more of a personal preference thing than a security issue. Firebase apps use their credentials on the client side meaning any firebase app is exposing these credentials to the web. Security holes are prevented by adding database rules to vet queries / mutations rather than by hiding credentials which inevi

[2020-03-25 15:42] mat10tng opened #60 "Input Component enhancement"
add a new prop :
* required: boolean
when true, and field is empty, it should tell the user that the field is required

[2020-03-25 16:31] #57 closed

[2020-03-25 16:33] mat10tng commented on #28
Sorry, We still need this to get done with.

[2020-03-25 16:33] #28 closed

[2020-03-25 16:40] mat10tng opened #61 "Signup -> login flow // Azmain Amin"
So we can have a profile yo

[2020-03-25 16:43] mat10tng opened #62 "Change logo"
Designer changed the logo!

[2020-03-25 16:44] mat10tng opened #63 "As a requester I can upload an image to the app (firebase) to provide more context to a request // Terrence"

[2020-03-25 16:47] mat10tng opened #64 "Mission List Style"
Very basic styling, we would like it to look decent, with a placeholder of image, and properly field. Do contact designer if you feel like you need. Update me with status so I know where you are at

[2020-03-25 16:49] mat10tng opened #65 "ProfilePage"
![image](https://user-images.githubusercontent.com/3273671/77562897-e1d79680-6ec0-11ea-8f9f-8f9d7993d531.png)
https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Corona-Donor-Designs-in-progress?node-id=0%3A1

[2020-03-25 16:51] mat10tng commented on #64
![image](https://user-images.githubusercontent.com/3273671/77563215-4266d380-6ec1-11ea-94b4-ffc1ac7e4e37.png)

[2020-03-25 17:14] Raf-Batista commented on #60
I can try this one if no one is on it.

[2020-03-25 17:46] thirdeyeclub commented on #60
I was gonna PR this one in a few minutes

[2020-03-25 18:50] thirdeyeclub commented on #60
Go ahead I couldn't make it work with the way it's currently written

[2020-03-25 19:24] thirdeyeclub commented on #64
I am working on this, but i need to figure out what the data from the backend is before I can finish

[2020-03-25 19:56] mat10tng commented on #60
You are welcome to make any changes to make it work!

[2020-03-26 00:11] CSumm commented on #25
@mat10tng is it possible to make API calls through storybook? I want to make the map searchable via storybook but I couldn't find any info on whether this is possible

[2020-03-26 02:30] Raf-Batista commented on #60
This is how I currently have it implemented:

I used state which is updated with onChange

Every input that doesn't have a value when the form is submitted will have the placeholder set to "REQUIRED"

I've never made a PR so I have to do some reading on that. Once I figure that out I will take care of it. I will try to find a better solution to this as well.

[2020-03-26 06:34] #64 closed

[2020-03-26 07:06] CSumm commented on #62
Does this need to be brought into storybook? I can do this one while we wait on the answer about the map tooling

[2020-03-26 07:45] mat10tng commented on #62
You can ignore storybook now! I think we will skip that in favor for speed!

[2020-03-26 10:06] mat10tng commented on #60
https://github.com/factn/mutualaidworld_frontend/blob/master/CONTRIBUTING.md

[2020-03-26 11:20] utunga commented on #60
@Raf-Batista super hoping that this process is not actually too hard for folks that havent made a PR before.. so
(a) if you figure it out let me know what bits were missing from the instructions
(b) if you get stuck just let me/us know (that said im heading to bed just now,.. but yeah)

Either way, keen to hear how you get on..

[2020-03-26 11:21] utunga commented on #60
If you already made your changes locally, probably the easiest way to get back on track is to follow the instructions to create a fork, create a second local copy and just copy your changes in to that directory.

[2020-03-26 15:32] #65 closed

[2020-03-26 16:03] Raf-Batista commented on #60
Thanks for the help. I submitted the PR following a guide. I will post the link to it in the frontend channel for anyone who's new to this like me. I appreciate the help and welcome any sort of feedback, advice, and critiques. I want to keep improving and help with this project as much as I can. Cheers!

[2020-03-26 17:13] snowcoding commented on #35
Closed by #66

[2020-03-26 17:13] #35 closed

[2020-03-26 20:14] CSumm opened #73 "Searchable Map using data from CSVs submitted through Airtable form"
I was requested about looking into displaying data onto maps from a form. The end user mentioned these tools:
[Searchable Map Template CSV](https://github.com/datamade/searchable-map-template-csv)
and
[Searchable Map Template Carto](https://github.com/datamade/searchable-map-template-carto)

Once the map PR is resolved, we could look to see if this would be a front end issue, or more for backend.

[2020-03-26 21:37] azmainamin opened #75 "Repurpose Sign Up page for Edit Profile page"
Right now, we have Sign In Using FB or Phone, both of which might not include attributes like, Name, Location etc. We need a dedicated Profile Page where users can go and edit their data.

[2020-03-26 21:39] azmainamin commented on #61
@mat10tng I believe we can close this now. See:
1. https://github.com/factn/mutualaidworld_frontend/pull/72
2. https://github.com/factn/mutualaidworld_frontend/pull/74

[2020-03-27 05:57] #61 closed

[2020-03-27 15:34] #26 closed

[2020-03-27 15:48] azmainamin opened #82 "Make hamburger menu functional"
The hamburger menu right now is static. At the very least, it should have:
- Link to user Profile
- Link to Missions Page

![image](https://user-images.githubusercontent.com/12126548/77774060-d7cca980-7020-11ea-9a69-3fd93bca80c5.png)

[2020-03-27 19:28] #63 closed

[2020-03-28 00:11] CSumm opened #86 "Facebook authentication is missing when Facebook sign in button is clicked on login page"
Steps to reproduce:

1. Go to Heroku staging page for mutualaid.world
2. Click on Sign In/Sign Up
3. Click on Facebook login button

Expected Result: Facebook authentication modal or redirect appears when button is clicked on.

Actual result: Functionality for Facebook authentication appears to be missing from the button.

Ticket Code:: 1.06

Screenshot of button location:
![facebooklogin](https:/

[2020-03-28 00:51] utunga opened #87 "Regarding a bunch of issues raised by the designers in Figma"
Bunch of question from March 24 from the [figma](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/MutualAid.world-Designs-in-progress?node-id=983%3A1)

**March 24**
_As you’re working if there are questions/clarity that you need, put them here if we can resolve them later or in slack, if it will hold up your work._
 

[2020-03-28 01:20] utunga commented on #87
A lot of the time the answer to these question is going to be a process of discussion and working with the mutual aid groups to determine what they need. Nevertheless, I will attempt to shed some light where I can based on what I've heard.

Couple things that have changed since we got these questions.

1. We have tried to move to an agile process where we build something simple and iterate. That m

[2020-03-28 01:21] utunga commented on #87
For the first iteration lets just go with one mission == one task. Makes it simpler! The mission we're gonna focus on is delivering food to someone so there's a shopping list, an address and funding for the food. Once that's all ready to go a volunteer can 'just go do it'.

To keep things simple for first version how about we just make it communicate by SMS outside of the app?

Comments fields are

[2020-03-29 17:27] Raf-Batista commented on #75
I didn't see this issue on airtable. Is it still open?

[2020-03-29 17:28] azmainamin commented on #75
I don't think this has been ported over yet. We are still trying to figure out our signin/signup workflow

[2020-03-29 17:31] Raf-Batista commented on #75
No problem. Once things are figured out I will be happy to take on issues that are good for new developers. Thanks.

[2020-03-30 15:03] #60 closed

[2020-03-30 15:03] #40 closed

[2020-04-01 07:36] #82 closed

[2020-04-01 07:36] #86 closed

[2020-04-01 07:36] #25 closed

[2020-04-01 09:01] CSumm opened #104 "Idea on implementation: Priority system for missions"
I'm taking on the challenge of implementing priorities into missions. I have several ideas:
- requesters submit form and the description of task is analyzed for certain keywords (for now we hand code a simple string.contains solution, then later on look into an ML library)
- based on keywords we add up a tally. If it is below a certain value its of lesser priority. If its of a higher value, its hi

[2020-04-01 09:45] mat10tng commented on #104
I suggest we wait until we know where the organizer will be in this situation. I suspect, that we will have a queue of missions which then will be manually prioritized by the organizer. Instead of prioritizing this by number, maybe we can do ml -> tag the mission with correct tag so that it will be easier for the organizer to work with, such as ...text.. food... -> tag with -food-

[2020-04-01 18:49] CSumm commented on #104
Sounds good. Ill hold off on that ticket for now and check out something else.

[2020-04-02 20:43] CSumm opened #109 "[BUG]Logout button fails to bring user to the home page when previously logged in with Google account"
Steps to reproduce
1. Enter into app
2. Go to login page
3. Sign in with Google account
4. Press toggle menu and go to volunteered missions
5. When on empty missions page, press on toggle again and press sign out
6. User remains on empty missions page

Expected result:
User is redirected to home page after logging out

Actual result:
User remains on empty missions page after logging out

[2020-04-02 22:07] CSumm opened #110 "[BUG]App UI stretches beyond viewport when user is on mobile device - laredotornado"
Steps to reproduce

1. Enter the Heroku app on mobile
2. Observe any page in the app

Expected result: App can fit the screen size of the mobile device and the user can see the entire UI.

Actual result:  the UI stretches beyond the current viewport of the mobile device.

[2020-04-02 22:19] CSumm opened #111 "[BUG]User goes to a "cannot get" route page instead of login page when entering a protected route in the search bar"
Steps to reproduce

1. Open[ the heroku app](https://mutualaidworld-frontend.herokuapp.com/)
2. Enter a protected route inside of the search bar
3. Observe the output of the page.

Expected result:
User can be redirected to login page with the warning "You must be logged in".

Actual result:
User is greeted to a "cannot get" route page instead of the login page that specifies a login warning.

[2020-04-02 23:50] CSumm opened #112 "[BUG] Button to upload image to profile is missing on user profile page"
Steps to reproduce:
1. Go to [Resilience heroku staging app](https://mutualaidworld-frontend.herokuapp.com/)
2. Sign in with Google account
3. Click on user profile
4. Observe the user profile screen

Expected result: User can see an upload profile picture option that can take from their desktop or their mobile device.

Actual result: Button to upload image is missing from user profile page

[2020-04-03 00:09] CSumm opened #113 "[BUG] Missions list is missing when missions page is being accessed by non-logged in users"
Steps to Reproduce:

1. Go to  [Resilience staging app](https://mutualaidworld-frontend.herokuapp.com/)
2. Click on View missions
3. Observe missions screen

Expected result:
Anonymous users can view the missions page and volunteer right away.

Actual result:
Missions page appears empty when anonymous user visits the page without signing in.

Screenshot:
![missingmissionslist](https://user-images.

[2020-04-03 07:15] mat10tng commented on #113
I think it is because there was no mission available? I added a dummy mission and it does show up. Maybe it should said that on the screen though.

[2020-04-03 07:18] CSumm commented on #113
Ah yeah, that could be good. If we can show a message saying "no missions are available at this time" or something. Most likely my issue came from already registering with my Google account. I can look into deleting or cancelling missions from my user screen

[2020-04-04 21:59] mat10tng commented on #113
ah, no, honestly, it was because there was no missions anywhere :p, Can you take a look now ? I added a bunch

[2020-04-04 22:00] mat10tng commented on #110
This is fixed! Can you QA again ?

[2020-04-04 22:00] #75 closed

[2020-04-05 01:44] CSumm commented on #110
It still occurs on the heroku staging build on my mobile browser

[2020-04-05 01:46] CSumm commented on #113
Cool, perfect. It works now

[2020-04-05 01:46] #113 closed

[2020-04-05 23:33] utunga opened #121 "[UI BUG] We need a spinner or something to show data is loading (for example on mission page)"
Currently, just for example, the screen which lists all current missions is 'just white' while missions load. Then, if there are no missions it stays white.

We need some sort of loading spinner while it's loading. We could also do with something like a '0 missions matching this criteria' or something if it resolves with 0 missions.

[2020-04-05 23:35] utunga commented on #34
@considine I realize things have been moving fast beneath you. sorry about that. is this one ready to close because it got fixed elsewhere? Also, please feel free to come back! We've gotten a bit better organised now so will be able to make use of your skills! Food is getting delivered on the groud and we need to scale out this app asap so we can start to handle the many communities about to hjoin

[2020-04-07 03:12] azmainamin opened #129 "Add test phone numbers in our README docs"
Numbers to add:

+17777777777, Code: 123456
+12223334444, Code: 123456

[2020-04-07 03:18] CSumm opened #130 "[BUG] Missions page crashes after canceling from phone number validation in volunteer needed flow"
Steps to reproduce:

1. Go to [Resilience App on Heroku](https://mutualaidworld-frontend.herokuapp.com/)
2. Sign in using Google authentication
3. Open up side navigation -> Go to Volunteers Needed
4. Click on Volunteer button
5. Enter a number that already exists
6. Cancel the modal prompt asking for a phone number
7. Go to the same url in the search bar

Expected result: The page refreshes and m

[2020-04-07 07:29] mat10tng opened #134 "[DOC] a naming convention for git branching"
As a developer I want to see the rules of git branching naming convention so that I know how to name my branch correctly

[2020-04-07 07:30] utunga opened #135 "We need some naming rules for branches"
@qdozaq asked on card that he would "like to see the rules of git branching naming convention so that I know how to name my branch correctly"

Good point. lets do that and add that to [CONTRIBUTING.md](https://github.com/factn/resilience-app/blob/master/CONTRIBUTING.md)

PS So far the branch naming scheme is :

`feat/whatever_you_want`

But perhaps we could get a bit fancier than that.

--

Long a

[2020-04-07 07:32] #134 closed

[2020-04-07 07:55] stinodes commented on #112
I'm looking into picking this issue up.
Any examples where this button is present (or any available designs) for consistency's sake, or is this to be implemented at my own discretion?

Cheers!

[2020-04-07 08:10] mat10tng commented on #112
![image](https://user-images.githubusercontent.com/3273671/78645521-f308a600-78b7-11ea-9dd1-f456ca9cbdaa.png)
Hi, this is the design in figma

[2020-04-07 11:16] stinodes commented on #112
Awesome, I'll pick this up later today when I find some time!

[2020-04-07 12:51] azmainamin opened #136 "aXe console error"
Going to SignIn page gives this:
![image](https://user-images.githubusercontent.com/12126548/78671191-f480a100-78ac-11ea-812c-7cf9f99fc985.png)

[2020-04-07 12:52] azmainamin commented on #136
This is propagated across the whole app.

[2020-04-07 12:55] azmainamin opened #137 "Increase spacing between icon and text in the sidebar"
Fix spacing around icon and text:
![image](https://user-images.githubusercontent.com/12126548/78671542-707ae900-78ad-11ea-83ee-9e0168ae526f.png)

This is a nice mockup:
![image](https://user-images.githubusercontent.com/12126548/78671634-88526d00-78ad-11ea-884a-8c37bc8a64d5.png)

[2020-04-07 12:58] azmainamin opened #138 "Make the About text bigger and add spacing around it"
Tldr: Prettify it. Maybe a small button?

![image](https://user-images.githubusercontent.com/12126548/78671923-ee3ef480-78ad-11ea-8b8f-b1d84ff996f4.png)

[2020-04-07 13:01] azmainamin commented on #110
Can we get an additional QA on this? @mat10tng @CSumm

[2020-04-07 13:02] azmainamin commented on #109
This is fixed.

[2020-04-07 13:02] #109 closed

[2020-04-07 13:07] azmainamin opened #139 "Add propTypes and jsDocs for components"
Use PropTypes(https://reactjs.org/docs/typechecking-with-proptypes.html) for components and JSDOCs(https://jsdoc.app/about-getting-started.html)for functions

Code to cover:

• src/app/component/PhoneLoginForm

• src/app/component/MapView

• src/app/component/Input

• src/app/component/ImageUpload

• src/app/component/FirebaseAuthUi

• src/app/component/MissionCard

• src/app/component/PrivateComp

[2020-04-07 13:11] azmainamin opened #140 "Add propTypes and jsDocs to Layout components"
Use PropTypes(https://reactjs.org/docs/typechecking-with-proptypes.html) for components and JSDOCs(https://jsdoc.app/about-getting-started.html)for functions.

• src/app/layout/Card
• src/app/layout/Page

[2020-04-07 13:12] H-Pylori opened #141 "Pointer on hover"
Just joined happy to be involved, noticed on the demo here https://lion-frontend-uat.herokuapp.com/missions  it would be good to add styling for desktop users to have a pointer on hover to better tell each item is clickable.   style={{ cursor: "pointer" }} or some other CSS solution.

[2020-04-07 13:12] azmainamin opened #142 "Add jsDoc for functions"
Code to cover:

• src/app/model
• src/app/hooks/useForm

[2020-04-07 13:14] azmainamin opened #143 "Add propTypes and jsDoc for components in Pages"
Use PropTypes(https://reactjs.org/docs/typechecking-with-proptypes.html) for components and JSDOCs(https://jsdoc.app/about-getting-started.html)for functions

These are nice to have. Code to cover:

• src/app/page
		• About Us

		• Home

		• Login

		• MakeRequest

		• MissonDetails

		• Missions

		• MissionsControl

		• MissionsCreated

		• MissionsVolunteered

		• OrganizerSignup

		• Signup

[2020-04-07 14:19] mat10tng commented on #136
Yeah, I have no clue about this bug. From what I have seen, I am thinking of it is how React add and remove node from the dom -> but Axe did not catch that and wonder, where did the damn node go, and so we got a weird error coming out.

[2020-04-07 14:20] mat10tng commented on #87
This should move to wiki or to some google docs for relevancy

[2020-04-07 14:25] mat10tng commented on #141
Hi, this is likely wrong address. Our current app is at https://mutualaidworld-frontend.herokuapp.com/

[2020-04-07 14:35] sebassdc commented on #136
@azmainamin i think this have to do with Transition Group, i think react-axe is not able to keep up with this.
I was  researching a way to filter this error so this don't show up in the console but didn't find anything.

[2020-04-07 14:36] sebassdc commented on #136
Also there are some console errors due to the svg using identical ids because we are using the same svg twice in the home page.

[2020-04-07 14:40] skbrown333 commented on #137
It looks like I am unable to assign myself to this issue @utunga

[2020-04-07 14:40] laredotornado commented on #142
Hi, When I get added to the project, I would like to volunteer to take this issue.  Thanks, - Dave

[2020-04-07 14:41] nickx720 commented on #137
Hi @skbrown333 , I have already fixed it in local but unable to push it 🤣

[2020-04-07 14:49] AquiburRahmanKhan commented on #135
How about something like this `{type}/{IssueNo}-issue-one-liner` where type can be either **feat**, **fix**, **docs**, **style** , **refactor**, **perf**, **test**, **build**. For example `feat/issue-135-add-loader`

[2020-04-07 14:53] mat10tng commented on #135
yeah, maybe also feat/story-12-add-missions, since we have both mission/issue type

[2020-04-07 14:58] AquiburRahmanKhan commented on #111
@utunga can you please assign this issue to me ? thanks

[2020-04-07 15:05] mat10tng commented on #110
yeah, so there is no problem on my mobile, but I am guessing that is not true

[2020-04-07 15:12] qdozaq commented on #135
Would be good to explicitly differentiate between stories in airTable and issues in github as the numbers could overlap.
Like `feat` is just for stories and the rest are for github issues

[2020-04-07 15:18] mat10tng commented on #135
I think that a good idea, but I would like more explicit in that case, so, maybe
{type}/{typeId}-{typeAction}-{description}
type = story|issue
typeAction=
    story  - we only have one story so I don't know what action would be here
    issue -  fix, docs, style, refactor, perf, test, build

[2020-04-07 16:39] guillermoparral1995 commented on #143
has anyone taken this? if not, I'd like to have this one (and the other ones about propTypes if they are still available)

[2020-04-07 16:54] ShanuCreations commented on #138
@azmainamin - Could you please assign this issue to me as I've fixed this locally and the change is ready to push ?

[2020-04-07 17:18] micahmones commented on #139
hi, when i get added as a contributor i can take this if needed

[2020-04-07 17:38] nickx720 commented on #140
Hi @azmainamin  can you assign me this ticket?

[2020-04-07 19:12] heisfullstacked commented on #136
Can I have a look into this?

[2020-04-07 20:26] pedro-surf commented on #61
When I enter the code I received, I got redirected to a broken route.

[#72]

[2020-04-07 20:46] pedro-surf commented on #130
The same happens when I:

1. Insert a new phone number when requested
2. Insert the received verification code

(Redirects to a broken route)

[2020-04-07 21:27] roberts98 opened #149 "Remove unused imports"
When you start the application there are so much unused imports, I think we should get rid of them, because we can miss more important warnings, like memory leaks etc.

[2020-04-07 21:50] mat10tng commented on #149
I agree. I have been very reckless there, ehm, you wanna do a pr on that ?

[2020-04-07 21:52] roberts98 commented on #149
Yes, I've already done that, waiting for write access, if you can do it, I'd be grateful.

[2020-04-07 21:56] azmainamin commented on #130
@pedro-surf Hey Pedro, can you run master locally and see if the bug exists in master?

[2020-04-07 22:26] jwu910 opened #150 "Feature: Introduce error handling for api calls"
**Background**
The application needs a way to handle async errors. [Ref].(https://github.com/factn/resilience-app/pull/147#discussion_r405134207)

If the app is unable to get missions for example, that error should handle rather than return a loading spinner that spins indefinitely.

In the past, I've used [React error boundaries](https://reactjs.org/docs/error-boundaries.html) to handle errors at

[2020-04-07 22:51] mzeenkala23 commented on #150
Would you be looking for some sort of modal displaying the error message? And this is a front end issue right?

[2020-04-07 23:08] pedro-surf commented on #130
@azmainamin Sure, I'll do it right now. However, I already suspect this line could lead to this. Check it:
{/*...logic*/}
setSuccessSnackbarOpen(true); {/*showing success msg/*}
**window.location.reload(false);** {/*this*/}

I've tried to push a branch to the repo commenting this reload call. However I got no permission.

(Permission to factn/resilience-app.git denied to pedro-surf.
fatal: unable

[2020-04-07 23:34] jwu910 commented on #150
We should be getting error messages from the Firebase api. Maybe we can get some feedback from some of the designers to figure out the direction they'd want to go.

[2020-04-07 23:41] azmainamin opened #152 "Updating phone number from User Profile page is not working."
Current Behavior: Phone number is not updated. There is console error.
![image](https://user-images.githubusercontent.com/12126548/78729262-a5b42500-7907-11ea-8ee5-15f0fd22fac4.png)

Expected behavior: The updated number should be reflected in the user profile page. The updated number should be saved in Firebase DB.

[2020-04-07 23:41] mzeenkala23 commented on #150
yh that sounds great I would love to take that task on, once we have some designs. I will start setting up my dev environment later today as I am in the UK and it is currently 1am

[2020-04-07 23:43] azmainamin commented on #150
@jwu910 thanks for the issue! We definitely need to do this. I would say if you guys want to take a first stab at this, go ahead and don't wait for designs. Something is better than nothing.
We have component called ErrorSnackbar, which we can leverage.
@mzeenkala23

[2020-04-07 23:46] #121 closed

[2020-04-07 23:47] mzeenkala23 commented on #150
ok I would love to take a stab at this, I am going need to set up my dev environment first tho.

[2020-04-08 00:18] pedro-surf commented on #152
https://github.com/factn/resilience-app/pull/153 sent to review.

[2020-04-08 01:43] utunga opened #155 "Add "Add 2 Home Screen" aka A2HS support."
Bit of design work needed here but mostly what we're after is integration in a standards-compliant way so iPhone and Android users have a clean and effective option to 'add to home screen'.

Maybe it appears after login then disappears or something? Not sure... But implementing it would be the first step, then we can decide when it should appear.

https://developer.mozilla.org/en-US/docs/Web/Progr

[2020-04-08 01:55] #152 closed

[2020-04-08 02:33] utunga commented on #155
I decided to add a story for this as well..
https://airtable.com/tblRjd2McKgRW9MKj/viwAsqEsBiGxnqy7H/recWXUcBDE36Uioku?blocks=hide

[2020-04-08 03:53] Spraynard opened #156 "[BUG] Error w/ Mission Detail Volunteer Button"
The following bug is seen on the master branch while running a local copy.
[code]

This is also seen on the Heroku demo but it is not as flagrant of a fail (shows error in console)

### Steps to Reproduce

1. Start up the local copy
1. Perform the following actions while *not* logged in
1. Go to `/missions`
1. Click on **Details** button of any job to go to the `/missions/{mission_id}` page
1. Cli

[2020-04-08 12:50] nickx720 commented on #155
Hi, i could take this up if you'd like.

[2020-04-08 12:52] azmainamin commented on #156
I believe this can be close now, right @mat10tng ?

[2020-04-08 13:14] mat10tng commented on #156
yes.

[2020-04-08 13:14] #156 closed

[2020-04-08 13:15] mat10tng commented on #155
Hi, if therer is an airtable story, then we should take there instead

[2020-04-08 13:15] #155 closed

[2020-04-08 13:17] #142 closed

[2020-04-08 15:51] jwu910 commented on #150
Sounds good, thanks for the info @azmainamin.

@mzeenkala23, Let me know if you have any questions

[2020-04-08 15:59] #135 closed

[2020-04-08 16:27] #140 closed

[2020-04-08 16:29] #111 closed

[2020-04-08 17:08] DalerLeo commented on #110
can go for it?

[2020-04-08 17:14] laredotornado commented on #129
Hi, I can pick this up @azmainamin

[2020-04-08 18:26] roberts98 commented on #149
#165

[2020-04-08 18:40] #149 closed

[2020-04-08 21:18] mzeenkala23 commented on #150
Hi guys not sure If I can fix this defect as I am having problems setting up my dev environment. I have cloned the repo, however when running npm ci. I just get info on what to run npm with e.g npm <command> and other options of what command could be. I then ran npm install to see if that would work but no it didn't got npm ERR warnings any tips guys?

ps my node version is 8.10.0

[2020-04-09 02:32] pedro-surf opened #166 "Mission control route doesn't have a menu link nor a menu itself"
Description:
The route **/missions/control**, which apparently shows classified missions by their status, has no link in the app main menu. I'll fix it on this PR (#163) I'm currently working that already modified this page.
#163

Note:
Also, it has a different menu itself, which links seem to be currently not working.
Yet, a route like this certainly needs pagination. Does Firebase handle it alre

[2020-04-09 02:43] pedro-surf opened #167 "When clicking on Icon in the menu, nothing happens"
Description:
If user clicks an Icon in the hamburger menu, it should direct to the proper route, just like when clicking on the text right to it's right.
Currently nothing happens. I'm fixing it on PR #163

[2020-04-09 02:52] CSumm opened #168 "[Bug] User/profile protected route is accessible when non-logged in user enters it in the url search bar"
Steps to reproduce:
1. Go to [Resilience App home page](https://mutualaidworld-frontend.herokuapp.com/)
2. Enter user/profile after the current url in the search bar.
3. Observe the page being loaded in

Expected result: Non-logged in user gets redirected to login page because the route appears to be protected

Actual result:  Non-logged in user can view the user profile page but it is non-interac

[2020-04-09 03:00] CSumm commented on #110
@azmainamin I checked both on Chrome for mobile and on built in phone browser, and both have issue of page stretching. It seems that the page stretches until you resize it manually after page load

[2020-04-09 03:57] azmainamin opened #171 "The requester in MissionDetails.jsx is hardcoded. We need to get that data dynamically."
Component: MissionDetails.jsx
![image](https://user-images.githubusercontent.com/12126548/78856275-51d33a00-79f4-11ea-97b9-dc4bdaf44695.png)

Expected: We should get requester data  from the DB i.e. from the mission object.
Mission Object structure:
![image](https://user-images.githubusercontent.com/12126548/78856360-8fd05e00-79f4-11ea-81d9-031db9680b77.png)

We might need to fetch the user using

[2020-04-09 04:16] azmainamin commented on #110
@CSumm you are correct. There is a PR up for the fix I believe.

[2020-04-09 05:04] mat10tng commented on #166
yes, firebase have pagination
the menu it self was just a dummy
the missions/control route was support to be worked on, but then we got another direction, but now we are back to track.

[2020-04-09 05:19] jwu910 opened #172 "Dev dependencies out of place"
Testing libraries, typescript loaders, and types are only used during development and build time. I believe they should be okay just sitting with devDependencies. They're not required during runtime.

[2020-04-09 05:56] jwu910 opened #175 "Console error on home page"
[code]

Route Link missing "to" prop

[2020-04-09 06:04] jwu910 opened #177 "[Bug] Clicking on Icons on Navigation Drawer do nothing"
**Background**
Clicking on the Icons on the navigation drawer invoke click animation, but no action or navigation is happening

**Acceptance**
All clickable areas of the navigation bar should behave as expected

[2020-04-09 06:16] jwu910 commented on #150
@mzeenkala23 I think they mean the .evn.development file that they're using to load environment variables.

Currently there should be only one that is pinned in the resilience-app channel.

[2020-04-09 06:28] jwu910 commented on #167
Hey @pedro-surf I missed this issue when creating #177. I submitted https://github.com/factn/resilience-app/pull/178 as a fix for it.

If you don't want to scope creep your other ticket, we can use my PR, let me know. I'm open.

[2020-04-09 06:29] jwu910 commented on #177
Maybe duplicate of #167. Pending decision

[2020-04-09 07:34] #175 closed

[2020-04-09 07:35] #172 closed

[2020-04-09 07:35] #168 closed

[2020-04-09 07:39] #138 closed

[2020-04-09 07:41] #137 closed

[2020-04-09 07:42] #104 closed

[2020-04-09 07:48] roberts98 commented on #171
Can you assign this task to me?

[2020-04-09 08:04] mat10tng commented on #171
I think the discussion in slack is that we are going to remove it. So we
can wait for another issue to open maybe?

On Thu, Apr 9, 2020 at 9:48 AM Robert Sidzinka <notifications@github.com>
wrote:

[2020-04-09 09:27] #34 closed

[2020-04-09 09:28] mzeenkala23 commented on #150
@jwu910  I can't seem to find the .evn.development file in my code base, however it is mentioned in the the .gitignore file

[2020-04-09 09:48] mat10tng commented on #150
hi, since it is ignored, it would not show up in the code base, we have that info pinned in #resilience-app channel

[2020-04-09 12:57] #171 closed

[2020-04-09 13:02] azmainamin opened #180 "Remove requester information from Missiondetails.jsx"
We do not want the requester information to show up right now. This issue involves removing the hardcoded requester information, and the associated Avatar component in MissionDetails.jsx

https://user-images.githubusercontent.com/12126548/78856275-51d33a00-79f4-11ea-97b9-dc4bdaf44695.png

[2020-04-09 13:02] azmainamin commented on #171
@roberts98 This is the new issue: https://github.com/factn/resilience-app/issues/180

[2020-04-09 15:26] qdozaq commented on #139
@micahmones You still working on this?

[2020-04-09 15:44] #177 closed

[2020-04-09 16:03] #129 closed

[2020-04-09 16:05] jwu910 commented on #150
You can read about the env file here https://github.com/motdotla/dotenv

[2020-04-09 16:16] mzeenkala23 commented on #150
Alright thanks guys I got it now

[2020-04-09 16:56] Adogeon commented on #180
Hi azmainamin,  can I have this task ?

[2020-04-09 18:48] jwu910 commented on #167
This can be closed. Fixed in #178

[2020-04-09 19:37] #167 closed

[2020-04-09 22:10] guillermoparral1995 commented on #143
why was this closed?

[2020-04-09 22:59] mat10tng commented on #143
Oh sorry. I was on a cleaning spray

[2020-04-09 23:38] sebassdc commented on #62
@mat10tng is this resolved?

[2020-04-09 23:39] mat10tng commented on #62
no

[2020-04-09 23:45] guillermoparral1995 commented on #143
removed my assignment by accident 😅

[2020-04-10 00:01] sebassdc commented on #62
@mat10tng where can i find the  new logo, do i ask in the UI/UX channel?

[2020-04-10 00:37] azmainamin commented on #143
@guillermoparral1995  added you back!

[2020-04-10 02:01] #180 closed

[2020-04-10 02:35] CSumm opened #189 "Google account fails to be disconnected when user clicks 'Disconnect' Google account button on user profile page"
This issue assumes you currently have an account with Resilience app using Google authentication

Steps to Reproduce

1. Go to [Resilience App](https://mutualaidworld-frontend.herokuapp.com/)
2. Click the sign in button
3. Sign in with Google Authentication
4. Click on the hamburger and go to user profile
5. Scroll down to disconnect from Google authentication and click the button
6. Go to menu an

[2020-04-10 11:16] mat10tng commented on #62
yeah, I see that you already ask em! Sorry about the confusion

[2020-04-10 14:46] guillermoparral1995 commented on #143
This should be closed, PR was merged 😄

[2020-04-10 14:51] #143 closed

[2020-04-10 15:33] mat10tng commented on #189
It is disconnected, but they are sharing the same email address, so once you logged in with that google account again, its going to be link to that same account again.

[2020-04-10 15:42] Eihcir0 commented on #139
@qdozaq
Should this ticket be closed with the merge of https://github.com/factn/resilience-app/pull/186?

[2020-04-10 15:45] qdozaq commented on #139
@Eihcir0 That was for pages so this one still needs to be done. I haven't heard from Micah so I'm gonna open this one up for whoever wants it

[2020-04-10 15:54] Eihcir0 commented on #139
@qdozaq I'll take it if you want to assign to me

[2020-04-10 15:55] qdozaq commented on #139
@Eihcir0 You got it!

[2020-04-10 18:01] CSumm commented on #110
This appears to be fixed on mobile. Closing issue

[2020-04-10 18:01] #110 closed

[2020-04-10 23:14] Eihcir0 opened #194 "Standardize on one MissionCard.jsx component"
We currently have two (very similar) versions of `MissionCard.js`.  One version is used by both the  _Volunteers Needed_ and _Volunteered Missions_ pages.   The other type is used by MissionControl.

We should combined those into one component because DRY.

[See comment.](https://github.com/factn/resilience-app/pull/193#pullrequestreview-391672495)

[2020-04-10 23:24] #139 closed

[2020-04-11 03:03] Spraynard opened #197 "Mission shows as volunteerable when already volunteered for"
### Issue Statement

On the `/missions/volunteered` view, as a volunteer you see the missions you have already volunteered for.

If you add any mission there, you will see that a **volunteer** button is still visible. This could possibly be confusing to people.

### Expected Bahavior

If it is in the volunteered missions list, you should not have an option to volunteer for it again.

### Notes
![S

[2020-04-11 03:24] Spraynard opened #198 "Unable to back out of volunteering for a mission"
### Issue Statement

After a volunteer volunteers for a mission, they are unable to un-volunteer from the mission.

### Expected Bahavior

As a volunteer, I would expect that I would be able to back out of volunteering for a service. Something may have come up in my life, or other situations could arise.

[2020-04-11 07:32] mat10tng commented on #194
I am so sorry about that, everything in missions control is a private component, if it was public, I would have put it in the component or layout folder. Sorry for the missunderstanding

[2020-04-11 19:56] mTRx0 opened #201 "NavigationDrawer passes array instead of element to PrivateComponent"
[code]

[2020-04-11 20:24] #201 closed

[2020-04-11 20:52] #194 closed

[2020-04-11 23:14] pedro-surf commented on #197
Are you or anyone working on this already?

[2020-04-12 00:43] Spraynard commented on #197
Hey yeah I'm working on this now. I should have a pr up soon

[2020-04-12 12:38] mTRx0 opened #210 "Volunteer Button still visible in MissionDetails when Mission is already in Progress"

[2020-04-12 14:09] Spraynard commented on #197
Hey sorry I didn't complete this issue yet. I put up the code I was able to get through last night up until we reached our quota limit but didn't get to this as of yet

[2020-04-12 15:30] #210 closed

[2020-04-13 00:32] azmainamin opened #216 "Fix dashboard drawer UI bug - @dvalinotti"
The bug:

![image](https://user-images.githubusercontent.com/12126548/79083503-aa5c4d00-7cfc-11ea-891d-14abda71a95a.png)

Opening the drawer should push the items to the right instead of covering them.

[2020-04-13 00:34] azmainamin commented on #189
Resolved.

[2020-04-13 00:34] #189 closed

[2020-04-13 00:35] azmainamin commented on #216
IN PROGRESS BY: @dvalinotti

[2020-04-13 07:31] mat10tng opened #221 "change placeholder text"
change placeholder text in the homepage
to:
Need help?
Sign up to make a request for a food box, small errand, or a pharmacy pickup. Your ask goes right to the local coordinator, and is matched with a volunteer who will take care of your need ASAP.

Want to help?
Sign up to join your local network of volunteers helping their neighbors through this crisis. Deliver food, medicine, and other supplies

[2020-04-13 12:28] amanchauhan11 commented on #221
@mat10tng Can I do this?

[2020-04-13 14:53] Spraynard commented on #197
You know what I think this is all good. Hope I didn't cause too much trouble for ya.

[2020-04-13 14:53] #197 closed

[2020-04-13 17:58] #221 closed

[2020-04-13 18:04] #216 closed

[2020-04-13 22:32] mTRx0 opened #226 "typo in schema.ts -> pickUpWIndow needs to be pickUpWindow"
small typo in /src/app/model/schema.ts:160

[2020-04-14 16:26] laredotornado commented on #198
Please assign this to me.  Per Tuan, this is just the functional hook and design is being handled as part of another ticket.

[2020-04-14 18:22] #226 closed

[2020-04-14 22:31] laredotornado opened #233 "Creating a new mission needs to default to today's date"
When creating a new mission, although the "Pickup Time" is pre-populated with the current time, the "Select Date" field does not default to the current date ...

<img width="794" alt="Screen Shot 2020-04-14 at 5 25 06 PM" src="https://user-images.githubusercontent.com/14842313/79280279-9f78f800-7e75-11ea-9522-ee99e7a8e07c.png">

Should default to today's date.

[2020-04-14 22:38] laredotornado opened #234 "Date picker should appear when first clicking on "Select Date" field"
When creating a mission, clicking on the "Select Date" brings up a cursor, but in order to see the date picker UI, you must click on the calendar icon to the right ...

<img width="695" alt="Screen Shot 2020-04-14 at 5 36 44 PM" src="https://user-images.githubusercontent.com/14842313/79280704-a6ecd100-7e76-11ea-9e5d-b837b78b7e4e.png">

Upon first clicking on the "Select Date," text field, the date

[2020-04-14 22:44] laredotornado opened #235 "When creating a mission, selecting a date in the date picker UI doesn't automatically select that date"
When creating a mission and choosing the mission date, after bringing up the date picker, clicking on a date in the date picker does not automatically select the date.  You must then click "OK"

<img width="724" alt="Screen Shot 2020-04-14 at 5 40 55 PM" src="https://user-images.githubusercontent.com/14842313/79281000-7b1e1b00-7e77-11ea-9629-67e531b3d30d.png">

Preference is for the date to automa

[2020-04-15 10:07] mat10tng opened #240 "MissionCard no longer display correct content"
MissionCard src/app/component/MissionCard.jsx no longer display correct content due to change of Mission scheme in the backend,

for the scheme, take a look at
src/app/model/schema.ts

[2020-04-15 13:40] azmainamin opened #241 "Update MissionCard in Voluteered Missions page to pull data from backend (not be static)"
Route: /missions/volunteered
Expected: Should have the data from the back-end. Right now, it's static data.

![image](https://user-images.githubusercontent.com/12126548/79343950-1c9b8000-7efd-11ea-8dda-2f01cd03b8dd.png)

[2020-04-15 15:08] mat10tng opened #242 "Snackbar breakout"
Currently, we are using snack bar component, each time we need to display a message due to error from whatever the reason, or success, we have to pick out individually the correct snack bar, also need to add the snack bar component to the system.

We should use https://github.com/TeamWertarbyte/material-ui-snackbar-provider
to provide the tools to have a more consist and easier time with a notific

[2020-04-15 19:20] mTRx0 opened #243 "MakeMission page doesn't use new schema"
The MakeMission page doesn't use the new schema to create Missions.

[2020-04-16 02:35] azmainamin opened #246 "Creating a new mission does not show any success/error message"
Route: /missions/new

Use a Success/Error snackbar (component already exists) depending on the result of mission creation to give feedback to the user whether they successfully created the mission or not.

Then redirect to My Requests.

[2020-04-16 02:38] azmainamin commented on #242
@mat10tng  Hey Tuan. Is having a success and error snackbar a problem? I like that we have consistent snackbars for success and error situations. I don't want to add another npm package :P

[2020-04-16 04:35] mat10tng commented on #242
Honeslmtly we can juse build our ow  from that, it is just a normal
provider wrap. But imagine that we do need to add the error and success
handler when a request is made and so these two elements will need to be
added basically everywhere we make a request.

On Thu, 16 Apr 2020, 04:38 Azmain Amin, <notifications@github.com> wrote:

[2020-04-16 07:14] utunga opened #247 "finish refactor of repository architecture"
Tuan to finish off one example ? and then maybe someone else can jump on and finish applying this across all the code

[2020-04-16 12:18] azmainamin commented on #242
Maybe a withError hoc?

[2020-04-16 12:45] mTRx0 commented on #246
I would like to take a look into this.

[2020-04-16 12:45] utunga opened #249 "As an organizer on a desktop device I can get to and from mission control (Airtable 160)"
User story 160
https://airtable.com/tblRjd2McKgRW9MKj/viwFfwz1LXBSjhZ2g/rec2JtXXhSV2NfdVF?blocks=hide

[2020-04-16 14:29] mat10tng commented on #247
The first version are now in.

[2020-04-16 14:30] mat10tng commented on #242
yeah, or rather, just provide it in root

[2020-04-16 14:52] #233 closed

[2020-04-16 14:56] utunga opened #253 "refactor back end of user drop down to be faster and better by moving business logic to server"
This PR https://github.com/factn/resilience-app/pull/252 addressed Story 115.

But the back end  (currently in User.ts) is a scary nightmarish mess and caches the entire list of users client side - this will cause bugs such as if someone is trying to add users on the mission control page, and those users have only just signed up.

So.. the right way to do this is to move the 'filter' business logi

[2020-04-16 14:57] utunga commented on #253
Assigning to you more as an FYI @mat10tng feel free to unassign yourself

[2020-04-16 15:24] qdozaq commented on #247
@mat10tng can we get a list of the remaining models that need to be done? then @azmainamin and I could split them up

[2020-04-16 15:31] utunga opened #254 "Change 'payable status' to just a simple boolean 'ready to start'"
Schema change suggestion.

Instead of a complex enum called 'payable status' with only two values 'not acquired' and 'ready to pickup'..  a simple boolean called 'ready to start' , default false, seems like a more general solution and hence more likely to work for more contexts..

[2020-04-16 16:40] mat10tng commented on #247
Yes!
models:
Organization
Foodbox
Page:
MakeMission -> I would like to change this to MissionCreate and use the Mission model to load and then sanitize the data to be save in the backend with User.createMission
We also have to change some of the field that are not in use in this view, but in organizer view
MakeRequest-> remove this, we use MakeMisssion now
MissionDetails -> use the model to load,

[2020-04-16 16:52] nullHappy commented on #235
Quick question, should the validation also prevent you from adding dates that are in the past?

[2020-04-16 16:58] nullHappy opened #255 "[bug] Domain on the access dialog doesn't match the applications domain"
The current domain of the test app is: https://resilience-app.herokuapp.com/
When the user clicks on the button to grant access to their google account the domain to grant access to is from firebase instead of heroku, see below:

![image](https://user-images.githubusercontent.com/20382062/79484346-68d4e600-800b-11ea-977c-de2f44b678d0.png)

Steps to repro:
1. Hit the hompage (https://resilience-app

[2020-04-16 17:05] nullHappy opened #256 "User cannot recover from "this number has been used to many times" error"
(This is possibly an enhancement rather than a bug)

I've logged in using just my phone number 3 times
On the 4th attempt I get a pop up that says I've used the phone number too many times

Screenshot: (I edited out my phone number)
![image](https://user-images.githubusercontent.com/20382062/79485017-78086380-800c-11ea-8290-3bb50fc7b28b.png)

The end user might find it helpful if they got informat

[2020-04-16 18:12] jwu910 commented on #150
@mzeenkala23 Are you still working on this? Need any help?

[2020-04-16 18:40] mzeenkala23 commented on #150
hey sorry I have been super so I haven't had the chance to look at this ticket, but if it is urgent you can assign it to someone else and i will look at a different ticket

[2020-04-16 18:49] Eihcir0 commented on #247
I can take signup on this

[2020-04-16 18:59] mat10tng opened #257 "Update font style"
Update all font to Open Sans together with the new styling in figma
https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Resilience-App?node-id=3504%3A6701
Apply this in global css
Apply this in theme.jsx

[2020-04-16 19:41] mat10tng commented on #249
you need to be an organizer to see that route. Right now we don't have a way to do this, so you have to go in the firebase database manually, find your user, and add/set field isOrganizer=true

[2020-04-16 20:51] azmainamin commented on #247
@Eihcir0  Signup is yours.
@mTRx0  MakeMission is yours. I think removing MakeRequest falls under this as well?

I will work on

[2020-04-16 20:57] qdozaq commented on #247
I'll do OrganizerSignup? is that needed?

[2020-04-16 21:05] utunga opened #258 "We have to remove dev firebase credentials from git"
Google has noticed that the credentials are in our Public git repo and they're sending concerned emails. I suspect they'll eventually escalate into shutting down firestore if we don't fix this. Screenshot to come

[2020-04-16 21:27] mTRx0 commented on #247
Yeah I can do that aswell.

[2020-04-16 21:30] azmainamin commented on #247
@mTRx0 I am reviewing your PR. Can you make any other changes in a different PR? Thank!

[2020-04-16 21:31] mTRx0 commented on #247
sure :)

[2020-04-16 22:22] #258 closed

[2020-04-16 23:15] #246 closed

[2020-04-17 04:08] utunga opened #260 "As a temporary measure can we write some sort of CI integration to reset the db every so often??"
@mat10tng  has a great wee script that populates some fake data into our crazy shared development db set up (at firebase).

Obviously the right thing long term is that every developer has their own db and integrations or some sort of mock or something.. but as a temporary measure can we write a script that resets all the data in dev every so often? Like every 2 hours or something?

I am not entire

[2020-04-17 06:26] mat10tng commented on #260
ehm, it is in my branch still which is feat/story-116-missions-map-list-view
in the root directory
/scheme/data.py

[2020-04-17 07:13] rainrivas commented on #260
@mat10tng just so i'm understanding the flow here, you're running `data.py` to build your dataset, then you're running the `uploadMock.js` to push the data up to firefbase yes?

[2020-04-17 07:52] mat10tng commented on #260
Yeah you're right. Also, I wrote that in according to scheme.ts in the
model folder. But that scheme might change. I am just do manuall check for
now though

On Fri, 17 Apr 2020, 09:13 rainrivas, <notifications@github.com> wrote:

[2020-04-17 14:21] #243 closed

[2020-04-17 14:23] mTRx0 commented on #257
Would like to do this

[2020-04-17 15:23] jwu910 opened #262 "[Bug] Profile photo cropping not aligned"
**Expected**
As a user changing my profile, I expect the image within the crop circle to be my new photo

**Actual**
The photo saved is not what is within the cropping circle

![image](https://user-images.githubusercontent.com/12107969/79585480-b6416980-8084-11ea-9d0e-ad3f8aae06b3.png)

![image](https://user-images.githubusercontent.com/12107969/79585534-cd805700-8084-11ea-9fb5-b6e77c084cf8.png)

[2020-04-17 16:30] nullHappy opened #264 "Image is rotated when attempting to upload profile picture (Android only?)"
(Doesn't happen on my laptop which is Win 10, in latest IE, FF or Chrome)
I've attached a screenshot of my devices about OS screen for further info
Chrome Version: 80.0.3987.162

This is the photo as it appears in the gallery (ie it's the correct orientation)
![image](https://user-images.githubusercontent.com/20382062/79591533-9172e380-80d0-11ea-99dc-546bdd50e27a.png)

This is the photo after it u

[2020-04-17 18:15] jwu910 commented on #112
https://github.com/factn/resilience-app/pull/213

This issue was resolved

[2020-04-17 18:15] #112 closed

[2020-04-17 19:23] mTRx0 commented on #264
Can confirm this doesn't occure on iOS (Safari)

[2020-04-17 19:36] mTRx0 commented on #241
Working on this.

[2020-04-17 20:01] mTRx0 commented on #136
@mat10tng @azmainamin I guess this issue can be closed as it seems to be fixed.

[2020-04-17 20:12] #136 closed

[2020-04-18 01:10] jwu910 opened #269 "Utilize eslint more to auto format codebase"
Eslint seems to be underutilized.

Some areas of the codebase can be auto formatted so it's a little easier to read and one less thing to worry about

[2020-04-18 01:51] #241 closed

[2020-04-18 01:52] #240 closed

[2020-04-18 01:53] azmainamin commented on #234
@laredotornado Is this still ongoing?

[2020-04-18 01:53] azmainamin commented on #198
@laredotornado we can close this right?

[2020-04-18 01:53] #198 closed

[2020-04-18 01:54] azmainamin commented on #62
@sebassdc Is this still ongoing?

[2020-04-18 02:12] azmainamin opened #271 "Volunteering for a mission from the mission list view(/missions) gives me no message whether the request was successful or not"
We should add a snack bar stating whether the action (volunteering for a mission) was successful or not.

[2020-04-18 02:30] #269 closed

[2020-04-18 12:51] nullHappy commented on #264
cheers, tidied up the description slightly to reflect that

[2020-04-18 14:07] qdozaq opened #272 "Favicon.ico loads every time the route changes"
This should only need to be requested on the initial site load. Don't know why it's being requested every time the route changes.

![image](https://user-images.githubusercontent.com/20975817/79639889-67670300-815c-11ea-983d-5a4003865b5f.png)

[2020-04-18 16:18] jwu910 commented on #255
Suggestions on this? Apps hosted on heroku. Identity management is through firebase... would a custom domain for the app help solve this?

[2020-04-18 16:28] #257 closed

[2020-04-18 16:43] jwu910 opened #276 "Optimization: Typography and Font styles are written many times almost exactly the same"
Typography and font styles is an area to optimize some code that seems to be written many times (wet).

Some optimizations can be made as referenced below:

https://github.com/factn/resilience-app/pull/267#pullrequestreview-395928293

https://github.com/factn/resilience-app/pull/267#discussion_r410718719

[2020-04-18 19:08] laredotornado commented on #234
Hi @azmainamin , about to submit PR ...

[2020-04-19 01:18] utunga opened #280 "As a volunteer I can easily get to all missions related to me (started, suggested, assigned) so that I can get to them quickly and respond appropriately (171)"

[2020-04-19 01:20] utunga commented on #280
(For now let's pretend that everyone using the mobile app is a volunteer )

**Quick thoughts for home page**

Remove "request help" from home page

Active missions (started)
 - list directly in the view

Suggested missions (missions explicitly suggested)
 - list directly in the view
 - all (tentative) missions with current user as tentativeVolunterId

Assigned missions (button) ->

Volunteer for u

[2020-04-19 01:22] utunga opened #281 "As a volunteer I can plan the route of any upcoming missions on a map (172)"
@Vinh Nguyen has done some work on this problem and created some working back end code. ﻿@Samuel Sweet﻿ also did some work on the same problem and shipped a whole working back end rails app with react front end. (Only his one did not have the needed extract added constraints of having to pick up items before you drop them off.)

Check out this thread in #datascience to get some context
https://mut

[2020-04-19 01:59] utunga commented on #280
For now, just to keep things simple, let's pretend that everyone using the mobile app is a volunteer

**Quick thoughts for home page view**

Remove "request help" from home page

Active missions (started)
 - list directly in the view

Suggested missions (missions explicitly suggested)
 - list directly in the view
 - all (tentative) missions with current user as tentativeVolunterId

Upcoming missio

[2020-04-19 21:43] laredotornado commented on #235
So @azmainamin , this issue got resolved with the PR I submitted today related to this issue -- https://github.com/factn/resilience-app/issues/234, but maybe the issue @nullHappy raises about validation can be created as a separate issue or this issue can capture that?

[2020-04-19 21:48] nullHappy commented on #235
@laredotornado sorry that was my bad, I wanted to confirm if it was a valid issue before raising.
I can log a separate ticket if that makes your life easier

[2020-04-19 21:49] azmainamin commented on #235
@nullHappy  A separate issue would be awesome! I will close this one.

[2020-04-19 21:49] #235 closed

[2020-04-19 21:49] #234 closed

[2020-04-19 22:54] utunga commented on #247
@qdozaq  should we close this issue or is it still outstanding?

[2020-04-19 23:37] rainrivas commented on #260
@mat10tng @utunga  I'm getting pretty close to cracking this egg. Workingo n a fork to test out some github actions to execute the python script and then the nodejs script. I need to find out how we are meant to load secrets & environment variables so that the file so that we can node script can correctly update the DB.

[2020-04-20 01:35] rainrivas commented on #260
Here is a sample of the seed action running -- https://github.com/rainrivas/resilience-app/actions/runs/82457841

Currently clocked to run every minute but I will be changing it to run every 2 hours as @utunga suggested

[2020-04-20 02:21] qdozaq commented on #247
Yeh we can close this

[2020-04-20 02:21] #247 closed

[2020-04-20 07:18] nullHappy opened #289 "[bug] Validation on the date picker doesn't stop dates that are in the past"
Have confirmed this on the web version on IE, FF, Chrome and Chrome on Android

When the user opens the date picker they are able to set a date in the past:
![image](https://user-images.githubusercontent.com/20382062/79724340-42e76400-82df-11ea-89dd-f8bb46479690.png)

Steps to repro:
1. Log in
2. Click on create mission
3. Scroll down to the fields about the date
4. Click on the date picker to ope

[2020-04-20 08:24] nullHappy commented on #235
Issue discussed above was logged as: https://github.com/factn/resilience-app/issues/289

[2020-04-20 08:27] nullHappy commented on #289
An edge case I considered could be if the user creating the task is in one timezone and setting the task for an area where the time is behind the current time.

[2020-04-20 14:32] #166 closed

[2020-04-20 17:56] Eihcir0 opened #290 "Cleanup logic around Signup"
In an effort to get out mvp0 we are postponing work on certain cleanup and edge cases around the **signup flow**.   This ticket is for tracking those items:

**Known issues**:
 - Currently, we require phone auth as the first step in the Signup process.  This creates a user with a uid on Firebase which we retain and use in the final step of the Signup process when we update the user profile with in

[2020-04-20 23:00] mTRx0 commented on #271
Working on it

[2020-04-21 02:02] laredotornado opened #291 "Creating a mission fails to validate against phone number or displayname"
When creating a mission, the entered value in the "Helper" should match either the phone number or displayname of a volunteer ...

<img width="584" alt="Screen Shot 2020-04-20 at 8 24 59 PM" src="https://user-images.githubusercontent.com/14842313/79817060-2df3ea80-834a-11ea-8a43-1adeed8539ed.png">

Instead filling out that field results in the error below when clicking on "Create Mission ..."
<img

[2020-04-21 02:14] laredotornado opened #292 "Create Mission "Helper" field should read "Name / phone number""
Currently label reads, "Handle / phone number"

<img width="584" alt="Screen Shot 2020-04-20 at 9 13 19 PM" src="https://user-images.githubusercontent.com/14842313/79817820-e8382180-834b-11ea-90f1-fd72d67e48b7.png">

[2020-04-21 03:26] azmainamin commented on #290
@Eihcir0  I can try to answer:
#1 If its a new user, we show a dialog saying their account was created and then take them to their home page.
3# While signing up phone OR email( Google/FB), if there is another user with the same cred, we ask them to login with that cred. Basically, for 1 phone number and 1 email, we allow only 1 user.
#4 I believe the above answers these questions.

[2020-04-21 05:31] utunga commented on #260
That looks super cool @rainrivas. I guess my only question is what to do from here to run this on our repo? Or rather our dev db? Is it already running?

[2020-04-21 05:53] rainrivas commented on #260
@utunga It's not currently running on our DB since I do not have the secret keys to update firebase. We should be able to get this running by creating the same workflow in this repo -- i can open a PR for this. I need to do a quick test on my fork for using Secrets from GH settings to pass into the workflow. If I get this working (will test tomorrow) I will connect with you guys to get the appropr

[2020-04-21 06:09] utunga commented on #260
@rainrivas cool... creating a PR sounds good. Does github have a function for storing secrets in env variables in a secure way like the way that heroku and such do?

[2020-04-21 06:56] rainrivas commented on #260
@utunga We should be able to make use of the "Secrets" option under the project settings -- [GH Docs](https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets)

Relevant Bit:

To make a secret available to an action, you must set the secret as an input or environment variable in the workflow file.

I'm going to tweak my fork to make use of some p

[2020-04-21 07:11] utunga commented on #260
Sounds great.

Miles Thompson
NZ: +64 2153 9843 | E: utunga@gmail.com | W: http://goodbright.nz

On Tue, Apr 21, 2020 at 6:57 PM rainrivas <notifications@github.com> wrote:

[2020-04-21 10:30] ShanuCreations commented on #292
@azmainamin - I'll take this up. Could you please assign this issue to me ?

[2020-04-21 10:56] ShanuCreations commented on #292
@laredotornado / @azmainamin - I've changed the label for 'Helper' locally. Here is the screenshot attached.
![Helper-Label Changed](https://user-images.githubusercontent.com/62701681/79858289-1870d600-83c7-11ea-95a5-f4d47b9f3fef.JPG)

[2020-04-21 11:00] ShanuCreations commented on #292
@laredotornado / @azmainamin - I've changed the label for 'Helper' locally. Here is the screenshot attached.
![Helper with Amended Label](https://user-images.githubusercontent.com/62701681/79858692-b6fd3700-83c7-11ea-8c49-78c2e6598f35.JPG)

[2020-04-21 11:02] ShanuCreations commented on #292
@laredotornado / @azmainamin  - It seems to be an issue with Recipient's label too, would you like me to change that as well whilst I'm on that page?

[2020-04-21 14:02] #271 closed

[2020-04-21 14:04] azmainamin commented on #292
@ShanuCreations Yes...the recipient label should read the same. Thanks!

[2020-04-21 15:17] laredotornado opened #298 "Required fields on create mission page do not contain an "*""
When someone creates a mission, all fields (except the photo) are required.  However, not all fields have an "*".  For example, notice that the "Mission title" has a "*" but the "Add a recipient" does not ...

<img width="577" alt="Screen Shot 2020-04-21 at 9 38 10 AM" src="https://user-images.githubusercontent.com/14842313/79882933-ece6ef00-83b8-11ea-9f19-9dc252035f2d.png">

This is true as well

[2020-04-21 16:57] ShanuCreations commented on #298
@laredotornado - I've fixed this locally as attached screenshot. However, just wondering, if this is required for 'Pickup' and 'Dropoff' location too as can't find a way to apply it using AlgoliaPlaces API ? Trying to figure out a way forward....

![New Mission Mandatory Fields](https://user-images.githubusercontent.com/62701681/79891584-1a538d00-83f9-11ea-8e63-904b30b75ee1.JPG)

[2020-04-21 17:58] laredotornado opened #300 "Address icon should not be a hand cursor (imply clickability)"
When creating a mission, the pickup and dropoff address location fields show an address icon to the far right of the text field, in which the cursor turns into a hand (implying the ability to click the icon) when hovering above that icon

<img width="572" alt="Screen Shot 2020-04-21 at 10 42 07 AM" src="https://user-images.githubusercontent.com/14842313/79897629-9b962a00-83cf-11ea-9324-8f6a96b1f8c

[2020-04-21 19:12] JARV0210 commented on #242
@azmainamin @mat10tng would you guys like to word on a big project?

[2020-04-21 19:19] jwu910 commented on #242
Didn't see this issue before. Bringing up the convo i had somewhere briefly about this.

We can set up a notification provider with an update callback that provides a status + message through context. Then we can import that context and consumer anywhere in the app

[2020-04-21 20:24] azmainamin commented on #242
@jwu910 Consider me intrigued. Is there any examples around? I would like to learn more!

[2020-04-21 22:18] mat10tng commented on #242
https://reactjs.org/docs/context.html
Yeah, this is what I meant as well

[2020-04-21 22:30] laredotornado opened #301 "Need to add display name in field on sign up screen"
When a volunteer first signs up, they are taken to a screen where they fill in details about themselves ...

<img width="812" alt="Screen Shot 2020-04-21 at 4 28 06 PM" src="https://user-images.githubusercontent.com/14842313/79920401-acf22d00-83f5-11ea-969a-d1d357a42cf0.png">

However, there is no "Displayname" field (this is automatically populated though upon saving the user using a concatenatio

[2020-04-22 00:44] laredotornado commented on #298
@ShanuCreations , It took me FOREVER to figure out how to get a valid drop off and pickup.  For some reason, it only takes cities and states at the moment.  So, "Chicago, Illinois, United States of America" will validate.

Also, I've just been told by @utunga that field labeled "Helper" is not required, so it doesn't need an asterisk.

[2020-04-22 00:49] laredotornado opened #302 "When creating a mission, back-end shouldn't force "Helper" field to be required"
Currently when you create a mission, you are forced to fill out all fields (except photo).  Failing to fill out all fields causes validation to fail when you click "Create Mission".  However, "Helper" should not be required

<img width="591" alt="Screen Shot 2020-04-21 at 7 47 43 PM" src="https://user-images.githubusercontent.com/14842313/79928668-2a736880-8409-11ea-96b9-bc78cefaf204.png">

[2020-04-22 02:59] utunga commented on #280
Per @azmainamin
- Rework the current tabs to only show the aforementioned 3 tabs.
- Map View IS NOT needed for this story.
- If missions fall in the same window (same date + same time window [look at schema.ts enum TimeWindow]) then we group them together. For the sake of simplicity, let's say that it is possible to have a group with only 1 mission. Example: let's say we have Missions:
 m1 : {time

[2020-04-22 10:43] mzeenkala23 commented on #300
I would like to take this as its simple enough to fix, especially with my schedule

[2020-04-22 12:32] mzeenkala23 commented on #300
I have fixed this locally on my machine. Do I need permissions to move forward or I can just send a pull request?

[2020-04-22 14:24] ShanuCreations commented on #298
@laredotornado , Thanks for your response ! Does that mean 'Drop-off' and 'Pickup' doesn't require asterisk, could you please confirm ?  Sure, I'll remove asterisk for Helper field.

[2020-04-22 17:54] jwu910 commented on #242
I can try to set this up. Context is like a low-complexity solution to the problem redux solves.

But yeah, i'll find some free time to try and work on something like this. It would be something an global error handler could utilize too

[2020-04-22 20:23] ShanuCreations commented on #302
@laredotornado  - I'll take this up as I think I figured out a way to fix this. Could you please assign this to me ?

[2020-04-22 20:38] qdozaq commented on #298
I believe @Eihcir0 found that the location api was set to only use cities. Not sure if a PR went in to change that though

[2020-04-22 20:44] Eihcir0 commented on #298
I didn't put a pr in for that yet.  The fix is to delete the line that says:
[code]
in `src/appcomponent/AddressInput/AddressInput.jsx'

[2020-04-23 20:19] laredotornado opened #312 "Volunteers should not be able to specify the helper/assigned to field when creating a mission"
Currently when you log in as a volunteer and create a  mission, you are able to specify the person who will carry out the mission ...

<img width="685" alt="Screen Shot 2020-04-23 at 3 14 31 PM" src="https://user-images.githubusercontent.com/14842313/80145423-c4f0ba80-8575-11ea-84ec-93b39f4b6515.png">

Only organizers should have this ability.  The "Helper" field from the screen shot needs to be r

[2020-04-24 06:12] utunga commented on #62
Wait a second.. what? The current logo is SVG?

Is the new one also SVG? Maybe this is why this one became .. tricky?
![image](https://user-images.githubusercontent.com/166867/80180544-191f9b80-8657-11ea-997a-3cf690ea1fa4.png)

[2020-04-24 07:17] utunga opened #314 "npm list returns a bunch of warnings about missing peer dependencies"
```npm list``` after a clean npm ci does this..,

![image](https://user-images.githubusercontent.com/166867/80185252-268d5380-8660-11ea-9205-a0789049e0fd.png)

[2020-04-24 07:42] dyanawu commented on #300
I was trying to reproduce, and the icon _is_ clickable and does something:

![image](https://user-images.githubusercontent.com/41310948/80187388-23836a80-8642-11ea-8eaf-7aa3a9e7a7fc.png)

[2020-04-24 10:31] dyanawu commented on #298
@Eihcir0 I see the fix you mentioned is already in #311 but that option still exists in `src/app/page/MissionCreate/MissionForm.js` (and only there). Would it make sense to remove it there also? If so, I'll submit a PR for that.

[2020-04-24 11:51] utunga commented on #292
Thanks @dyanawu

[2020-04-24 11:51] #292 closed

[2020-04-24 11:53] #298 closed

[2020-04-24 11:54] utunga commented on #298
Thanks for the PR @dyanawu

[2020-04-24 12:00] utunga opened #316 "Algolia key is not happy - breaks address autocomplete"
![image](https://user-images.githubusercontent.com/166867/80210172-69165680-8687-11ea-8dfa-789c7951588f.png)

@laredotornado any ideas about this ? Sorry about the mess with keys btw still waiting to hear back from people its getting a bit critical....

[2020-04-24 16:21] sahjoo commented on #62
Yeah, looks like the older logo is still in the app. We can export the logo to any file type. So if you want an svg, we can export that wherever you need it. I provided the svg version in slack a while back too
https://mutualaidworld.slack.com/archives/C010VC3EN2G/p1586394211362100?thread_ts=1586385257.357800&cid=C010VC3EN2G

[2020-04-24 16:26] sahjoo commented on #62
lol svg isn't supported here so couldn't upload it!
but fyi the logo is being worked on currently so most likely it'll change up again.

[2020-04-25 07:00] rainrivas opened #319 "SeedDB Not Running"
Seed DB is failing to execute correctly with following error
[code]

[2020-04-25 07:00] rainrivas commented on #319
@jwu910 @mat10tng please assign this to me so I can resolve the issue

[2020-04-25 21:15] #319 closed

[2020-04-26 04:04] thirdeyeclub opened #323 "2 Tests are failing on our current build."
Logs:
**2020-04-25T23:17:15.5456807Z** FAIL src/app/page/Home/Home.test.js
**2020-04-25T23:17:15.5459594Z**     Firebase instance does not yet exist. Check your compose function.
**2020-04-25T23:17:15.8682020Z** FAIL src/app/layout/Appbar/Appbar.test.js
**2020-04-25T23:17:15.8704979Z**     Found multiple elements with the role "navigation"

[2020-04-26 04:04] thirdeyeclub commented on #323
@ commit # 412

[2020-04-26 14:58] qdozaq commented on #314
The better-docs one is really annoying cause that module just did their peer-dependencies wrong. I'm not sure we even need it, pretty sure no one is using the generated docs.

Same thing with `mui-datatables` they have their peer deps set to version 3 while we're on version 4. (looks like they're still on their way to full support for v4 so this one we'll just have to deal with for now)

We're not

[2020-04-26 15:01] qdozaq commented on #323
Looking into this

[2020-04-26 17:13] #323 closed

[2020-04-26 18:39] laredotornado opened #326 "Update image field in profile needs to mirror UI of other parts of the app"
When you edit your profile and click "Change Picture," you see UI like the following

<img width="529" alt="Screen Shot 2020-04-26 at 1 32 01 PM" src="https://user-images.githubusercontent.com/14842313/80316397-2eb1d400-87c3-11ea-9eb4-d2d261e94ac0.png">

However, to be consistent with other parts of the application, the UI should resemble something like below (the screenshot below is from creating

[2020-04-26 20:16] jwu910 opened #328 "Move algolia api to .env"

[2020-04-26 20:27] #328 closed

[2020-04-26 20:34] azmainamin commented on #316
@jwu910  We can close this now, right?

[2020-04-26 20:34] azmainamin commented on #302
@ShanuCreations assigned!

[2020-04-27 02:59] jwu910 commented on #316
Yeah this shouldn't be an issue. Everyone should have their API keys set up locally to use the algolia search.

[2020-04-27 02:59] #316 closed

[2020-04-27 07:46] mat10tng commented on #314
lets remove the better docs and sass-loader ?

[2020-04-27 13:11] mattwr18 opened #332 "Join our slack invitation link is no longer active"
The [join our slack](https://bit.ly/join_mutualaid_slack) link leads to an invitation is no longer active page. One can create an account if they have a @uww.edu email, but not if they do not.

![Screenshot from 2020-04-27 15-09-33](https://user-images.githubusercontent.com/26943915/80375881-43609b80-8899-11ea-9f53-74a01fb4a79b.png)

Can the invitation be refreshed, or how else can one join the sl

[2020-04-27 13:58] utunga commented on #332
Thanks for the note. I need to update the link. As it expires every so often.. woops!

Fortunately i made it a rebrandly link so I can update it in one place and it changes everywhere.

But wait, you seem to have found the old https://bit.ly/join_mutualaid_slack link.. thought I had tracked down all the places with that - can you tell me please what you clicked on / what page you were on when you

[2020-04-27 14:01] mattwr18 commented on #332
Yes @utunga , I was on the CONTRIBUTING.md page

[2020-04-27 14:05] utunga commented on #332
Found it - just waiting on the above PR to merge. (Weird I coulda sworn I fixed this already maybe the PR never got approved)

[2020-04-27 14:20] #302 closed

[2020-04-27 14:21] #332 closed

[2020-04-27 16:21] jwu910 commented on #314
sass-loader might already be bundled with create-react-app. May not need it in the package.json, but it will probably still show up in our package-lock/node_modules after installs.

MUI 4 came out about a year ago. Hopefully enough time to have all/most of their modules upgraded as well.

We might just want to keep an eye on the versions we have installed with all the active development with MUI.

[2020-04-27 16:23] jwu910 commented on #326
May want to check with design on this too. the functionality is different between these two components.
If the designs should be the same, we'll want to make sure the functionality differences are still preserved

[2020-04-27 16:24] jwu910 commented on #300
Hey @dyanawu I was working on another ticket and came across this too.

The button requests access to your browsers location, but after that does nothing. I think the expected behavior would have been something like opening a map to pick a location on a map. But because that isn't implemented, we should have the hover and click listeners disabled.

[2020-04-27 16:24] jwu910 commented on #300
@mzeenkala23 just send a pull request from your fork.

[2020-04-27 19:29] mattwr18 commented on #332
thanks a lot @utunga ... I'm in the slack instance now as @Matt Rider

[2020-04-27 20:47] jwu910 opened #336 "Mission workflow validation only enabled in detail view"
**Background**
Phone number verification is required to accept and start missions when viewing a mission detailed view. Accepting or starting a mission from the mission list view should also be protected behind number verification.

**Acceptance Criteria**
All mission workflow actions should be protected against unverified users

![image](https://user-images.githubusercontent.com/12107969/80419205

[2020-04-28 01:00] CSumm commented on #276
Is anyone assigned to this currently? I can tackle it

[2020-04-28 01:37] CSumm opened #339 "Adding IE support inside of package.json for Resilience App"
Tested app on IE for compatibility and it does not appear. Potential solution is to apply it to the Package.json development list of browsers to be supported.

[2020-04-28 02:35] jwu910 commented on #339
For reference https://github.com/browserslist/browserslist

[2020-04-28 02:37] jwu910 commented on #339
@CSumm Can test to make sure everything works after adding, if not, we may want to re-open this. Otherwise we should be good leaving it closed.

Thanks!

[2020-04-28 02:55] CSumm commented on #339
Tested and seems to persist, trying to implement react-app-polyfill along with the browserlist additions now

[2020-04-28 03:16] #336 closed

[2020-04-28 03:19] CSumm commented on #339
@jwu910 I managed to get it running after inserting the react polyfills into index.tsx and adding the broowserlist ie 11, but i get this error that appears
![image](https://user-images.githubusercontent.com/31711543/80443526-6c0a8480-88dd-11ea-95e1-511812acaf3c.png)

*this browser does not support this* as the warning

[2020-04-28 06:28] jwu910 commented on #339
Hoping to avoid the bloat of polyfills, we can revisit tomorrow and check with @utunga to see how much of IE we would be trying to support

[2020-04-28 14:53] CSumm opened #343 "[BUG] Submitting an empty sign up form results to unhandled exception in localhost and infinite loading on the Heroku app"
Steps to reproduce

1. Open app in localhost:3000 or at the [Heroku development link](http://resilience-app.herokuapp.com)
2. Sign up with phone number
3. Skip linking Facebook or Google account
4. Leave the sign up form empty and check the 'I agree to terms and services'
5. Observe what occurs

Expected result: Empty form fields can be subject to validation and notifying fields are empty before b

[2020-04-28 15:00] CSumm commented on #343
Also after sending the empty form, you can refresh and still use the app with a newly created account.

[2020-04-28 15:12] CSumm opened #344 "[BUG] Success message is missing when user updates profile on user profile page"
1. Go to app using localhost or the Heroku development app
2. Sign up or sign into app whichever way
3. Open up navigation sidebar and go click on user profile.
4. Make a change to display name or add an image
5. Observe result once change is made

Expected result: Success message appears when editable item inside of user profile is changed.

Actual result: Success message is missing when an edita

[2020-04-28 15:29] jwu910 commented on #343
```Uncaught (in promise) FirebaseError: Function DocumentReference.set() called with invalid data. Unsupported field value: undefined (found in field location)```

We should probably start validating at the API level before document writes are made.
Client side validation should also be considered. Formik + Yup, or some other validation library would be pretty helpful

[2020-04-28 17:49] ShanuCreations commented on #344
@CSumm - I'll take this up. Could you please assign this to me ?

[2020-04-28 17:52] ShanuCreations commented on #344
@CSumm - I've created a Snackbar message on successful profile save, does this text look OK ?

Let me know if it needs any amends and following that I'll create a PR.

![Profile Save Success Message](https://user-images.githubusercontent.com/62701681/80520387-41720780-8981-11ea-9a0a-38fa349e090c.JPG)

[2020-04-28 18:25] CSumm commented on #344
Looks good to me

[2020-04-28 18:47] CSumm commented on #276
@jwu910 I'm looking to enhacing the typography.jsx file and they suggest in the material-ui docs variant-mapping: https://material-ui.com/components/typography/#changing-the-semantic-element

Is this something we would like to do? If so, I can put the PR in.

[2020-04-29 03:51] CSumm commented on #276
@jwu910  if you have time, would it be possible to pair code through this one?

[2020-04-29 05:07] jwu910 opened #348 "{FEAT] Form Validation"
Look for simple implementation for form components using Formik and Yup to validate inputs throughout app

[2020-04-29 07:07] dyanawu commented on #300
Fair, I suppose if we're not using that functionality :)

[2020-04-29 07:37] jwu910 commented on #300
Feel free to shoot a PR over if you have a fix too. @dyanawu

[2020-04-29 12:29] #242 closed

[2020-04-29 12:29] #62 closed

[2020-04-29 12:30] #87 closed

[2020-04-29 15:03] #344 closed

[2020-04-29 16:19] marekdano commented on #300
Is someone working on this issue? If not, I'm free to take it.

[2020-04-29 16:40] utunga opened #351 "Connect phone for already signed in member should have UI like phone at register"
Currently, the 'connect phone' thing looks like this:

![image](https://user-images.githubusercontent.com/166867/80622196-92c2e980-8a9c-11ea-958f-c85ad1e20903.png)

It would be soo much better if it could look something more like this (see the register) flow:

![image](https://user-images.githubusercontent.com/166867/80622251-a9694080-8a9c-11ea-805f-f59d2b3b55bc.png)

[2020-04-29 20:10] jwu910 commented on #348
comment

[2020-04-29 20:13] jwu910 opened #353 "Test issue"

[2020-04-29 20:14] jwu910 opened #354 "test issue 2"

[2020-04-29 20:14] jwu910 commented on #354
closing for test

[2020-04-29 20:14] #354 closed

[2020-04-29 20:36] jwu910 commented on #353
Closing for test

[2020-04-29 20:36] #353 closed

[2020-04-29 22:05] jwu910 commented on #351
I think we're using the firebase auth frontend sdk to handle the flow. May need to look more into the firebase docs

[2020-04-30 16:39] jwu910 commented on #301
Is an editable display a requirement for registration and profile?

[2020-04-30 17:24] DAHuerta opened #356 "As a user I can apply to be a volunteer and create an account so that I can help out my local org after approved #15"
** DUPLICATE AIRTABLE TICKET **

[2020-04-30 18:26] DAHuerta opened #358 "As an organizer, I can create a pharmacy mission"
**Description**

As an organizer, I can create a pharmacy mission.

[Airtable #126](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recjMwh4LnqCVRkQD?blocks=hide)

[2020-04-30 18:39] DAHuerta opened #359 "A volunteer can set availability status to "Available for [x] hours" on a timer"
**Description**

As a volunteer, I can set my volunteer availability status to "Available for [x] hours" on a timer at the top of my home screen.

[Airtable] (https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recgp97IzvSVYQe3Q?blocks=hide)

[2020-04-30 18:48] DAHuerta opened #360 "A volunteer can set availability status to "Unavailable""
**Description**

As a volunteer, I can set my volunteer availability status to "Unavailable" at the top of my home screen.

[Airtable] (https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/reczMfTb6XZAijZRO?blocks=hide)

[2020-04-30 18:57] DAHuerta opened #361 "A user can request to have a new neighborhood added to the network"
**Description**

As a user, from the About page I can request to have a new neighborhood added to the network

[Airtable] (https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recAaHkMFgBe2t5fk?blocks=hide)

[2020-04-30 19:04] DAHuerta opened #362 "An organizer can approve pending volunteers"
**Description**

As an organizer, I can approve pending volunteers.

[Airtable] (https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recDzHzr8yBgDeYK3?blocks=hide)

[2020-04-30 19:15] DAHuerta opened #363 "An organizer can create a general errand (pickup/drop-off)."
**Description**

As an organizer, I can create a general errand (pickup/drop-off) mission.

[Airtable] (https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recDa981f52tuV1A8?blocks=hide)

[Figma] (https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/MutualAid.world-Designs-in-progress?node-id=1973%3A2958)

[2020-04-30 19:35] DAHuerta opened #364 "Missions attached to users phone number should be linked to account"
**Description**

As a new user, if someone has already attached missions to my phone number before I ever signed in, they should be linked to my account so I can see them straight away.

[Airtable][text](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recTKrCmCZXsI622b?blocks=hide)

[2020-04-30 19:42] DAHuerta opened #365 "A FAQ page with all the most common questions and answers"
**Description**

A FAQ page with all the most common questions and answers.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recVE1IMiTauZWVzm?blocks=hide)

[2020-04-30 20:00] DAHuerta opened #366 "Interactivity on the map to let organizer click from map to list"
**Description**

As an organizer, there is some interactivity on the map to let me click from a mission on the map to see it in the list or from the list to the map.

[Airtable #168](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recw3OuQze4Zywts6?blocks=hide)

[2020-04-30 20:09] DAHuerta opened #367 "ASAP or 'current' non-started missions are highlighted to grab organizers attention."
**Description**

As an organizer, any non-started missions with an ASAP or 'current' delivery window are highlighted on the planning view for my immediate attention so I can pay attention to these.

[Airtable #170](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recXIxRcwuimuzSIx?blocks=hide)

[Figma](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Resilience-App?node-id=3739%3A9164)

[2020-05-01 17:08] DAHuerta opened #369 "Volunteers can receive feedback on delivered missions"
**Description**

As a volunteer, I can see my previously delivered missions with evidence of any feedback given so that I can see them being accepted and feel good about what I have done

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec8G5p5UP5ADlz0d?blocks=hide)

[2020-05-01 17:16] DAHuerta opened #370 "Organizer can switch volunteers from active to inactive"
**Description**

As an organizer, I can switch volunteers from active to inactive status and back so that I can control who is eligible to volunteer in my organization (for health and safety reasons).

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recMPlGUt4v47ORpO?blocks=hide)

[2020-05-01 17:33] DAHuerta opened #371 "Organizers can apply a single update across multiple missions"
**Description**

As an organizer, there is a context-dependent way to apply a single update across multiple missions or a way to easily take specific actions from the 'list view' in mission control so that I can more efficiently manage things and not have to go into 'detail view' for the most common actions (such as setting a delivery window, etc).

[Airtable](https://airtable.com/tblRjd2McKgRW9MK

[2020-05-01 17:48] DAHuerta opened #372 "organizers can plan a mission 'route'"
**Description**

As an organizer, I can select any set of missions and click 'route' to get an idea of how they would be routed.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recJHoQUntdXJpfAx?blocks=hide)

[2020-05-01 17:52] DAHuerta opened #373 "Volunteers are immediately notified when a mission is accepted"
**Description**

As a volunteer, I am immediately notified when a mission is accepted so that I get immediate positive feedback as missions are accepted and can also monitor.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recWji5D5IEjlMnGq?blocks=hide)

[2020-05-01 17:57] DAHuerta opened #374 "Mission control board with restrictions are present for volunteers on a desktop"
**Description**

As a volunteer, using a desktop device I can see the mission control board but with restrictions appropriate to my level so that I can also see the bigger picture.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recjPQS41CYbmg2ei?blocks=hide)

[2020-05-01 18:00] DAHuerta opened #375 "Organizers can save intended routes for volunteers"
**Description**

As an organizer, I can help plan and save intended routes for volunteers in upcoming delivery windows.

Take into account how Volunteer will see this.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec1HFth5jJdTSiZb?blocks=hide)

[2020-05-01 18:01] DAHuerta opened #376 "Organizers can see intended routes for upcoming deliveries."
**Description**

As an organizer, I can see the intended routes for volunteers in upcoming delivery windows.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recALOIsBgmKfo8YZ?blocks=hide)

[2020-05-01 18:05] DAHuerta opened #377 "404 is displayed for broken links"
**Description**

As a user, when I go to a broken link/page I see a quirky 404 system error page. (404/500/ etc pages).

Currently, it's just a basic page that says "Oops! That page cannot be found."

[Airtable #185](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recwe4ashPrrR98fZ?blocks=hide)

[2020-05-01 18:07] DAHuerta opened #378 "Organizers can set a limited number of food boxes."
**Description**

As an organizer, I have a way to set a limit so that the number of food boxes ordered doesn't exceed my ability to supply them.

[Related to #188 Recipient needs to be notified when ordering that order volume has exceeded thresholds]

[2020-05-01 18:10] DAHuerta opened #379 "Recipients are notified when there are delays in receiving food"
**Description**

As a recipient, I want to be notified at ordering when there may be delays in me receiving my food (b/c the number of boxes order exceeds the Organizer's Food Box Threshold)

Do we show a page that says something like "Due to high volumes, we have temporarily paused new requests so we can catch up..."

[Related #378 Organizer can set a threshold limit]

[2020-05-01 18:34] DAHuerta opened #380 "How do organizers with charitable status and receipts"
**Description**

As an Organizer, how do I deal with charitable status and receipts in regard to the system?

[Airtable #201](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recAaos3Uo1TOfj5f?blocks=hide)

[2020-05-01 18:36] DAHuerta opened #381 "Text and Dates/Times are appropriate based on user location"
**Description**

As the dev team, we need to consider internationalization/localization (i18n) and decoupling copy/labels from the code so that we can spin up the resilience app for different organizations and locales in a scalable way.

(As a user, all the text and dates/times are appropriate to my locale. Eg. French, Canadian, Asian languages? etc…)

[Requires discussion - this may be broken dow

[2020-05-01 18:42] DAHuerta opened #382 "Onboarding content that explains what "Food Box Delivery" is."
**Description**

As a volunteer, I can see some onboarding content/tutorial that explains to me what "food box delivery” is and what’s expected so that I can overcome any barriers to accepting a mission.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recLD2CxXwFYi5WA1?blocks=hide)

[2020-05-01 18:44] DAHuerta opened #383 "Organizers can search/filter mission control."
**Description**

As an organizer, I can use a search/filter functionality on mission control to find a particular mission so that I can deal with queries or concerns regarding that mission.

As an organizer, I can use the search/filter functionality to affect the view to show me the missions I want to see.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recudzP7mj2GBeJSV?block

[2020-05-01 18:47] DAHuerta opened #384 "Consistent UI for users to feel secure."
**Description**

As a user (all user roles), I would like to see a consistent UI in the app so that I can feel secure when using the app because it involves my personal information.

As the Resilience dev team, I would like to be able to easily define and apply styling on the app to match the mockups.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recrsBfLLW41ehNcB?blocks=hid

[2020-05-01 18:49] DAHuerta opened #385 "Organizers can see total count of food boxes each tab of mission control"
**Description**

As an organizer, I can see a total count of food boxes on each tab of Mission Control so I have a good sense of how many food boxes that will need to be delivered.

As an organizer, my food boxes are all priced the same so I just need to see the total quantity of food boxes of missions on the screen.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recBSNjawKl1

[2020-05-01 18:50] DAHuerta opened #386 "Recipients can donate boxes to others"
**Description**

As a recipient, I can donate (to gift boxes for other people) while I’m buying food boxes for myself.

[AirTable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recbs34hNMHmBFYMK?blocks=hide)

[2020-05-01 18:57] DAHuerta opened #387 "Volunteers can use planned routes as driving directions"
**Description**

As a volunteer, I can use the planned route of a mission and reference it for driving directions during a mission (google maps).

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recSrbuy9DByyJru8?blocks=hide)

[2020-05-01 19:02] DAHuerta opened #388 "Users know that personal data is protected"
**User Story**

As a user, I know that the production firebase back end is protected so that I know that nobody can update or view that data, except via our front end.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recwRC4I7xTboOozs?blocks=hide)

[2020-05-01 19:11] DAHuerta opened #389 "Volunteers can start a mission changing mission status"
**Description**

As a volunteer, I can start a delivery group (or an individual mission)  so everybody knows they are now underway.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recrQg3PNNDBSTNa0?blocks=hide)

[Part of Airtable ticket](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recWJRYNvFP5h2L6C?blocks=hide)

[2020-05-01 19:12] DAHuerta commented on #389
I am pretty sure Dave Alvarado is on this ticket as well.

[2020-05-01 19:17] DAHuerta opened #390 "Recipients can accept missions and express gratitude."
**Description**

As a recipient, I can accept a mission and express my gratitude so everyone knows it was a success.

[Airtable #123](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec6Af58cTPFl1Fpg?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=2527%3A4277)

[2020-05-01 19:28] DAHuerta opened #391 "Volunteers can take a photo and mark Mission as 'delivered'"
**Description**

As a volunteer, once I have delivered (aka completed) a mission I can take a photo and mark the mission as 'delivered' so the recipient knows to come to pick it up and everybody knows it completed.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recS1cXI2IEOsiMOO?blocks=hide)

[Figma](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Resilience-App?node-id=233

[2020-05-01 19:29] DAHuerta commented on #391
The ticket also says that Fabian Küntzler is on this issue.

[2020-05-01 19:40] DAHuerta opened #392 "Organizers can apply donations across multiple missions"
**Description**

As an organizer, I can apply donations across multiple missions indicating which missions have been funded so those missions can be made available to volunteers.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recZEOrE3HF5J8ci5?blocks=hide)

[2020-05-01 19:45] DAHuerta opened #393 "Volunteers can not start a missions that are not labeled 'ready to start'"
![mission_states.png](https://images.zenhubusercontent.com/5ea20d02b3851009106d74e7/3ca3b0fe-7dd9-4c94-b6a1-e87faf68f123)[Uploading... mission_states.png ]

**Description**

As a volunteer, I can't start missions that are not  'ready to start' (and both volunteer and organizer understand why this is), so that organizer can be sure that missions have been 'paid for' or otherwise arranged with any t

[2020-05-01 20:09] DAHuerta opened #395 "Organizers can get an export of all missions and mission statuses"
**Description**

As an organizer, I can get an export of all missions including their status, funded status, and payable status so I reconcile things manually.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recIjjSBwymWwOwnj?blocks=hide)

[2020-05-01 20:20] DAHuerta opened #396 "Organizer mission control navigation"
**Description**

As an organizer, on a desktop device, I can get to and from mission control (navigation)

[Airtable #160](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec2JtXXhSV2NfdVF?blocks=hide)

[2020-05-01 22:37] jwu910 opened #397 "Add Form Input to validated form component"

[2020-05-01 22:38] jwu910 opened #398 "Add Form Date Input to validated form component"

[2020-05-01 22:38] jwu910 opened #399 "Add Form Address Input to validated form component"

[2020-05-03 06:06] utunga opened #407 "createdDate and fundedDate should be Timestamps not string"
If we switch these to timestamp, as described here
https://firebase.google.com/docs/reference/js/firebase.firestore.Timestamp

Then we can resolve two of the TODOs in the below.

Attention has to be paid to the mock data uploader, which is python based. https://github.com/factn/resilience-app/blob/master/scheme/data.py

Perhaps leave the python step as is and convert to Timestamp objects before up

[2020-05-03 06:07] utunga opened #408 "need to ensure that fundedDate gets set when a mission is funded..."
This will resolve one of the TODOs in the schema.ts file:

[code]

[2020-05-03 17:42] marekdano commented on #300
I've checked the issue on the current master and compared it with the [algolia example](https://community.algolia.com/places/examples.html#link-to-a-map). The "hand" is displayed there too and when you clicked on it, there is no "action" before the location has been allowed/locked on the browser.

[2020-05-03 19:19] qdozaq opened #414 "Need a better input component for phone numbers"
Firebase only accepts the format `+1xxxxxxxxxx` but it's not super clear that thats how the number should be entered.
Would be nice to have a component that lets you select that country code and specify your number separately and then format everything behind the scenes

[2020-05-03 19:26] jwu910 commented on #300
@marekdano I think the original issue is trying to say that because clicking it does nothing (unless theres some implementation detail we have missed), then we should change the cursor style to not pointer until the functionality is as expected.

Having a pointer cursor indicates that an element is clickable.

[2020-05-03 20:16] jwu910 commented on #387
@utunga For MVP0, did we have the intention to display driving instructions inside the app, or use "open in google maps/apple maps" links?

/CC: @DAHuerta

[2020-05-04 04:04] utunga commented on #414
Seems like this is a dupe/related to
https://github.com/factn/resilience-app/issues/351

[2020-05-04 05:18] mat10tng commented on #408
Mission get funded in two place:
when it goes through payment, this is done
when a organizer set it to funded, in dashboard, this is not done

[2020-05-04 05:24] utunga commented on #387
@jwu910  sorry if you've been mislead by the mockups in figma (though to be fair there is a wee comment there).. but yeah . We decided a while ago that

1. Maps 100% required for Organiser Dashboard.

2. 0% inline maps or driving direction maps for Volunteer Dashboard. We can pop open google maps with a  nice friendly route on mobile or desktop by just following a link like this. https://www.googl

[2020-05-04 05:26] mat10tng commented on #407
@qdozaq had some idea about using unix timestamp instead

[2020-05-04 05:28] mat10tng opened #417 "When create new group, Add and create to string got added"

[2020-05-04 06:08] jwu910 commented on #387
Hey miles, thanks for the clarification.

I didn’t know the maps links were this easy. I am in full support in generating likes like this.

[2020-05-04 06:48] #417 closed

[2020-05-04 07:10] #254 closed

[2020-05-04 07:10] mat10tng commented on #253
we will get back to this later if its become an issue

[2020-05-04 07:10] #253 closed

[2020-05-04 07:15] utunga opened #419 "What the heck is up with the cache?"
.. if we release an upgrade.. I will sometimes see old code for days afterward.

Is there a webpack setting or http-cache directive or combination that can force stale code to expire while still caching until it changes?

This is sometimes called 'cache-busting' and I coulda sworn its something that came out of the box with webpack so not sure why it doesn't work?

But I definitely have seen old p

[2020-05-04 07:18] utunga opened #420 "It shouldn't be possible to suggest a volunteer until after a mission has been funded (and moved to planning tab)"
![image](https://user-images.githubusercontent.com/166867/80943650-ceaed380-8e3b-11ea-99e8-ed8c58535cbd.png)

If for some reason its earlier / better to allow a volunteer to be suggested the mission should still not be moved to 'tentative' status until its funded. Basically tentative status means its been funded or marked as 'no funding needed (aka approved)

We probably should've just had  an 'ap

[2020-05-04 08:53] marekdano commented on #300
@jwu910 I think the change has to be done at the `algolia-places-react` library level.

[2020-05-04 14:33] qdozaq commented on #407
I think it makes sense to use the firestore timestamps just not sure how we would generate that in the python script

[2020-05-04 15:25] DAHuerta opened #422 "Organizers can monitor mission that are "in-progress""
**Description**

As an organizer, mission control "in-progress" allows me to monitor missions and resolve problems.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recSA0iLF5LiJuOG2?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=31473%3A15037)

[2020-05-04 15:35] DAHuerta opened #423 "Organizers can see all the missions on a map"
**Description**

As an organizer, when I'm looking at a given tab in mission control I can see all the missions on a map, so I can understand their relative positions and group them.

[Airtable #167](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recGt0Qb1EWCaUHLl?blocks=hide)

[2020-05-04 15:36] jwu910 commented on #414
Still separate, @utunga this sounds like the actual input element with a country code dropdown  with some validation.

#351 sounds like positioning and flow?

[2020-05-04 15:40] DAHuerta opened #424 "Organizers can mark a delivery as failed"
**Description**

As an organizer, if a mission is having problems or gone too long without delivery I can mark it as 'failed' so that it is no longer in the 'in progress' view.

**Airtable Reference**
[Airtable #178](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recqWV8pd0ntBz6og?blocks=hide)

**Design**
[Figma](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Resilience-App?node-id=44

[2020-05-04 15:56] DAHuerta opened #425 "Organizers have a list of approved volunteers"
**Description**

As an organizer, I have a list of approved volunteers (manually entered by our team) before going live, so that those volunteers can see the volunteer workflow.

[Airtable](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec6xxFOdTuH9OYMD?blocks=hide)

[2020-05-04 16:28] qdozaq commented on #414
@utunga hmm yeh i guess this is pretty similar.

@jwu910 Maybe we should just update the other one to explicitly say this component needs to be created?

[2020-05-04 16:47] jwu910 commented on #300
We should be able to just grab the class on the element and force an override style if the Algolia api doesn’t offer it

[2020-05-04 16:55] DAHuerta opened #426 "Volunteers can see all completed missions (successful or not)"
**Description**

As a volunteer, I have a simple view of completed missions so I can see all my previous missions and whether or not they succeeded (to be enhanced in MVP1).

[Airtable #196](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recxcBqiT1QNdBpmw?blocks=hide)

[2020-05-04 16:58] DAHuerta opened #427 "Recipients can see missions relevant to them when logged in"
**Description**

As a recipient, if I am logged into the app, I can see when a mission that relates to me has been completed.

This is the recipient dashboard.

[Airtable #198](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recjXDKz6IM5cckq6?blocks=hide)

[2020-05-04 17:04] DAHuerta opened #428 "401 alert presented if trying to visit a part of the app they aren't authorized"
**Description**

As an organizer, I know that if someone tries to visit a part of the app that their role does not allow, they will be redirected to a "401 Unauthorized" page so that content is protected.
--

As an unauthenticated user, I can only view the following parts of the app:
- Landing Page
- Sign In

As a basic user that is logged in, I can only view the following parts of the app:
- Requ

[2020-05-04 17:07] DAHuerta opened #429 "Organizers data is kept safe from prying eyes"
**Description**

As an organizer, I know that my data is kept safe from prying eyes.

When logged in, based on my role, I will be granted the appropriate permissions to create/read/edit/delete various data collections in the database.

As a Basic (Recipient) user that is logged in, I can only do the following to the database:
- CREATE: New Requests/Missions
- READ: My own requested Missions
- EDIT

[2020-05-04 17:11] DAHuerta opened #430 "Logged in organizers default to mission control on map"
**Description**

As an organizer, once I log in, I default to desktop width and can see mission control on a map so I can start to organize things.

[Airtable #116](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recVynDfL4g7qRwrz?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=30060%3A12786)

[2020-05-04 17:12] DAHuerta commented on #430
It says that Matthew Rider is the Dev on this one.

[2020-05-04 17:17] DAHuerta opened #431 "Organizers can update details on a mission from mission control"
**Description**

As an organizer, I can open and edit full details of a mission from within mission controls so that I can update missions as I organize them and also so that I can deal with unexpected developments as they occur.

[Airtable #162](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recUd4ZiLI1THmka5?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resili

[2020-05-04 17:17] DAHuerta commented on #431
According to Airtable Fabian Küntzler is working on this one?

[2020-05-04 17:24] DAHuerta opened #432 "recipients can buy and pay for food boxes at the same time."
**Description**

As a recipient, I can buy my own food boxes, and pay for it at that time, so a mission is created for those boxes and the mission funding status goes straight into ‘funded’ status.

[Airtable #144](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recNH5cqwqQmRIRZc?blocks=hide)

[Figma](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Resilience-App?node-id=1486%3A546)

[2020-05-04 17:35] DAHuerta opened #433 "Recipient can request a food box paid by the organizer"
**Description**

As a recipient, I can request a food box (to be funded by the organizer when the funds are available) so that I can receive a food box because I need to eat and can't pay.

[Airtable #145](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recGNl2T0LXh1ibbZ?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=29260%3A26163)

[2020-05-04 17:41] DAHuerta opened #434 "Organizers can group missions into delivery groups"
![select_delivery_window.png](https://images.zenhubusercontent.com/5ea20d02b3851009106d74e7/360dba4a-cbc0-4f3d-a113-1ccfdaaf3448)

**Description**

As an organizer, I can group missions into delivery groups so that they become available for volunteers and so they can route their delivery missions in groups.

[Airtable #161](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recHW7hh2ASx0QsSO

[2020-05-04 17:45] DAHuerta opened #435 "Donors can donate money online to fund boxes"
**Description**

As a donor, I can donate money online to fund food boxes (to be assigned by the organizer) using online payment and get a receipt with charitable status.

[Airtable #143](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recYoIuMMeHo45Iag?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=29305%3A10722)

[2020-05-04 17:47] DAHuerta opened #436 "Organizers can create a 'food box' mission"
**Description**

As an organizer, I can create a 'food box' mission.

[Airtable #125](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recb310KzflDRbh4v?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=30045%3A2262)

[2020-05-04 17:48] DAHuerta commented on #436
Airtable says that Pedro Silveira is on this one?

[2020-05-04 17:57] DAHuerta opened #437 "On 'done' view organizers can see trends and patterns"
**Description**

As an organizer, on mission control "done" view, I want to see trends and understand patterns in past missions.

As an organizer, I don’t want to see a giant map on the screen as I mainly want to see the list of ‘done’ missions and their success/failed statuses so that I can identify the failed ones to follow up on what happened.

[Airtable #166](https://airtable.com/tblRjd2McKgRW

[2020-05-04 18:11] DAHuerta opened #438 "Organizers can mark missions 'ready to start' after getting funding"
**Description**

As an organizer, I can mark a mission as 'ready to start' as a way to ensure that I have paid any required suppliers before a mission begins.

It depends on the Organizer who needs to be able to receive donations.

[Airtable #169](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recw5D6V0nHojilnE?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resil

[2020-05-04 18:42] DAHuerta opened #439 "Volunteers can plan route of upcoming missions"
**Description**

As a volunteer, I can plan the route of any upcoming missions for efficiency (backend thing).

[Airtable #172](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec9K3kAHfLq6kdiI?blocks=hide)

[2020-05-04 18:45] DAHuerta opened #440 "Organizers can mark missions 'done' with success"
**Description**

As an organizer, I can mark a mission as succeeded so that it is now 'done' with success.

[Airtable #197](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recEZRIexk9VLHnV8?blocks=hide)

[2020-05-04 19:00] DAHuerta opened #441 "organizers have color indication for missions and their status"
**Description**

As an organizer, I can see some color highlighting/indication of missions in the list and on the map so I can see at a glance what their mission status is.

As an organizer, if a mission is a PAST due date/planned delivery date, it should be made abundantly clear to me on the page.

[Airtable #209](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rectvwnJmcaQoiHg8?blocks=h

[2020-05-04 19:07] DAHuerta opened #442 "Organizers can see missions that have started in mission control"
**Description**

As an organizer, on mission control “In Progress” view, I want to see missions that have STARTED.

As an organizer, I don’t want to see a giant map on the screen as I mainly want to see the list missions and their statuses.

[Airtable #221](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recDMtXib3T5zfAtQ?blocks=hide)

[2020-05-04 19:10] DAHuerta opened #443 "Developers want a reusable 'Mission Card' component"
**Description**

As a developer, I want a reusable 'mission card' component that makes it easier to build out other stories.

Broken out from #122.

Update Mission Card with the following:

Create a Mission Card Header, that contains:
1. Icon for mission type (eg. apple icon for food boxes)
2. Mission name/title (eg. “2x Fruits & Veggies Medley”)
3. Icon for mission info (eg. “i” info icon)
4. And

[2020-05-04 19:10] DAHuerta commented on #443
Dave Alvarado is working on this issue.

[2020-05-04 19:17] #408 closed

[2020-05-04 20:01] DAHuerta opened #444 "Volunteer can start an individual mission"
**Description**

As a volunteer, I can start a delivery group (or an individual mission)  so everybody knows they are now underway.

As a volunteer, I have:
- Ability to start individual missions from group
- Ability to start a whole group of missions

[Airtable #121](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recrQg3PNNDBSTNa0?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPN

[2020-05-04 20:09] DAHuerta opened #445 "Organizers can type name into field and see other members profile/phone number"
**Description**

As an organizer, I can type a name into a field and be presented with a view of matching members showing their profile pic and phone number so that I can choose a specific user to put into a field [Reusable component].

[Airtable #155](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec00kGce0l6ZBJUr?blocks=hide)

[2020-05-04 20:13] DAHuerta opened #446 "User can visit About Us page to get more info on Resilience App"
![Capture.PNG](https://images.zenhubusercontent.com/5ea20d02b3851009106d74e7/261f2af9-43c8-4a97-b20e-3ab329beb4b0)

**Description**

As a user, I can visit the About Us page to get more information about Resilience App and who made it.

[Airtable #157](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec4G64Rf3wS9if66?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/

[2020-05-04 20:16] DAHuerta opened #447 "Volunteer can carry out group of missions"
**Description**

As a volunteer, I can actually carry out a group of missions, viewing, and updating information as needed.

------------------------------
Tasks:
- Create UI for displaying grouped missions
- Update Mission Card to show the new UI of how Pick-up/Drop-off is shown (2 columns)
- Create MissionGroup component, based on the group ID

[Airtable #122](https://airtable.com/tblRjd2McKgRW9

[2020-05-04 20:23] DAHuerta opened #448 "Organizers can ensure missions are funded and approved"
**Description**

As an organizer, the mission control "proposed" view allows me to ensure missions are funded and approved.

[Airtable #164](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recWg0Il6Py6n7jJK?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=30060%3A12786)

[2020-05-04 20:43] DAHuerta opened #449 "Organizers can fund missions in mission control 'Proposed' view"
**Description**

As an organizer, mission control "Proposed" view allows me to prepare missions for volunteers by "funding" each mission

[Airtable #118](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec2sgm2CLd5QrNca?blocks=hide)

[Figma](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Resilience-App?node-id=3439%3A5500)

[2020-05-04 20:46] DAHuerta opened #450 "Success message is presented after successfully updating profile/account"
**Description**

As a user, I can see a success message when I update my profile/account so that I know it succeeded.

[Airtable #75](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recqdAylRmM3FwpAJ?blocks=hide)

[2020-05-04 20:48] DAHuerta opened #451 "User can add, change, or remove profile picture"
**Description**

As a returning user, I can add, change, or remove a profile picture from my Profile page.

[Airtable #110](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recRjjPmPj91aQRY5?blocks=hide)

[Figma](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/MutualAid.world-Designs-in-progress?node-id=1565%3A769)

[2020-05-04 20:49] DAHuerta commented on #451
Airtable says Dave Alvarado is working on this.

[2020-05-04 21:01] DAHuerta opened #452 "'Add to home screen' appears in browser for users that want to who want to return to this App"
**Description**

As a user, who wants to return to this app I would like "Add to Home Screen" to appear in my browser so I can easily click to make our web site act 'like an app' and I can get back to it when I need to.

[Airtable #72](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recWXUcBDE36Uioku?blocks=hide)

[Figma](https://www.figma.com/file/v5HdxDsvO2NzMuZU6CArzF/Resilience-App?no

[2020-05-04 21:01] jwu910 commented on #451
@laredotornado

[2020-05-05 03:57] jwu910 commented on #450
https://github.com/factn/resilience-app/issues/344

Should be closed by this

[2020-05-05 03:57] jwu910 commented on #450
Let's verify on the demo that this feature works, and lets close this out.

Airtable ticket should be closed as well. looks like it wasn't workflowed

[2020-05-05 06:23] amylo opened #458 "Developers can easily reuse custom icons"
We don’t have reusable UI components for our custom icons, eg. folks are referencing the apple.svg icon directly from within their views…
We should create UI components for each of our custom icons and put them under /src/app/components/icons  and update the existing views to use those.

Benefits:
1. Easily reuse icons with other components as React components
2. Developers can find all icons in o

[2020-05-05 09:12] utunga opened #459 "Type string does not match type .. for key fundedDate"
Running localhost/master branch I was on this page:
![image](https://user-images.githubusercontent.com/166867/81050848-d8583a00-8f14-11ea-903b-cd24593ecd1a.png)

And chose 'funded by donation' then it did this...
![image](https://user-images.githubusercontent.com/166867/81050824-c9718780-8f14-11ea-8070-9f94714cfa25.png)

Just old data? Or ?

[2020-05-05 09:52] marekdano opened #460 "User profile page do not displayed user data."
When opening the user profile page no data is displayed (user profile picture, user name,...)

And when trying to save a profile picture or location, new data is not saved after the `Save` button is hit.
Also, typing a user name doesn't work. I cannot add a user name

<img width="396" alt="Screenshot 2020-05-05 at 10 52 07" src="https://user-images.githubusercontent.com/1914165/81054337-88e71f00-8

[2020-05-05 09:56] mat10tng commented on #459
hmmm, I saw that too, this is because of how our default data define to null, which default to object instead of empty string, but in schema.ts we did say that it could be both string or null, but that is not how the rSanitize function work

[2020-05-05 10:13] utunga opened #462 "If you go to 'accept' a mission but then get stopped because you don't have a phone number, it actually assigns them anyway"
1. Sign in as a volunteer user via social media login (eg google) but without a phone attached.
2. On the volunteer home page click on 'accept' on one of the missions in 'available'
3. A message pops up saying 'you must add a phone number to your account before you can accept missions'.

Expected:

Mission doesn't get added to 'assigned'

Actual:

After you click 'OK' you discover that the mission

[2020-05-05 10:13] utunga commented on #462
Assigning to you Tuan not because you made this bug - you certainly didn't - but because you may be able to fix faster than anyone else?

[2020-05-05 10:17] #459 closed

[2020-05-05 12:00] mat10tng commented on #449
this is done?

[2020-05-05 14:52] jwu910 commented on #449
@mat10tng Talked to @DAHuerta about starting to migrate tickets from airtable over. Airtable doesn't seem to have updates if tickets are closed or not (or i don't see it)

This ticket didn't have an attached PR. so if this is done, lets find that PR and we can close this.

[2020-05-05 15:34] #462 closed

[2020-05-05 16:14] marekdano commented on #262
I'm sorry @JakeG-9191, I've just found that this issue was assigned to you. I've just done PR for fixing it.

[2020-05-05 16:17] JakeG-9191 commented on #262
Marek no problem at all, I had not fully fixed it so I am glad you took it over, I'll look over the PR now

[2020-05-05 16:18] #262 closed

[2020-05-05 16:21] marekdano commented on #264
Tested on Samsung S8 - it works fine.
The issue might relate to that specific phone model or some settings on that phone?

[2020-05-05 18:15] nullHappy commented on #264
Hey Marekdano, it was about three weeks ago I raised this, think the build has moved on quite a bit since then. This isn't reproducible on my device now either. I'll close it off, thanks for the update

[2020-05-05 19:33] thirdeyeclub commented on #458
I understand this s a good idea for icons we dont have in material UI. So far everything I have worked on has used icons from Material UI including the apple svg found at '@material-ui/icons/Apple';

[2020-05-05 21:41] jwu910 commented on #458
The MUI Apple icon isn’t the same as what the designers are asking for. The icon there I think is the Apple logo icon

[2020-05-06 07:33] #432 closed

[2020-05-06 07:33] #433 closed

[2020-05-06 12:06] utunga opened #467 "Unfriendly error if you don't format your ph number correctly when asking for a box"
![image](https://user-images.githubusercontent.com/166867/81174705-6a843f00-8ff6-11ea-8772-776a72b04a90.png)

Being a programmer I read this error message and realised there was something wrong with the format of the phone number.

Most users will just see the red and gobbledygook and assume something is broken.

[2020-05-06 12:08] utunga commented on #467
I'm gonna put this here also because it probably relates.

Next step after this was..
![image](https://user-images.githubusercontent.com/166867/81174932-cc44a900-8ff6-11ea-818e-c5e3da8d8a4a.png)

[2020-05-06 12:17] utunga opened #468 "Nowhere to put 'Apartment number or ' Unit' in the address box"
A real address (with street number changed for privacy) that we might want to deliver to would be, for instance.. something like...

1234 Coldwater Canyon Ave, Unit C, Sherman Oaks, CA 91423

Per screenshot to get this to work in Algolia you'd have to format it as "1234 Coldwater Canyon Ave, CA 91423. And that's sort of OK - though I think it would be *much* more obvious why its important if was h

[2020-05-06 12:18] utunga commented on #468
To give it more context, I'm on this page
![image](https://user-images.githubusercontent.com/166867/81175778-3578ec00-8ff8-11ea-8224-01f1a8b9f15b.png)

[2020-05-06 16:53] marekdano commented on #249
@utunga I'm looking at this issue. I can add a link of `Dashboard` to the right-side navbar when a user is `isOrganizer=true`.  And `App` link to the left-side navbar in the `Mission Control` page. What do you think?

[2020-05-06 21:17] mat10tng commented on #467
@qdozaq  maybe ? I am sure he know more about this

[2020-05-06 21:30] DAHuerta commented on #391
Mark, as delivered, is done need the photo evidence.

[2020-05-06 21:55] #430 closed

[2020-05-06 22:03] DAHuerta commented on #440
back ends

and front ends

[2020-05-06 22:04] DAHuerta commented on #441
Need updated designs

[2020-05-06 22:13] qdozaq commented on #467
I can put in some friendlier messages

[2020-05-07 02:21] utunga commented on #467
BTW based on the console I saw that second error pops up again when something went wrong with the recaptcha widget. TBF no idea why the Recaptcha widget wasn't loading - it may just have been a bad internet connection on my part.

[2020-05-07 03:01] utunga opened #471 "We need a better address picker"
In this [comment on a pr](https://github.com/factn/resilience-app/issues/387#issuecomment-623263341) we talked about the three places we use maps in the app.

Specifically
- Organizer dashboard
- Volunteer dashboard (mostly trying to defer to Google Maps)
- Address pickers (for user profile and setting mission pickup/drop off locations).

Last night, about 1 am, in trying to get the google maps th

[2020-05-07 03:42] CSumm opened #472 "[BUG] Sign up form submit buttons is missing functionality from sign up form and blocks volunteer flow"
Steps to reproduce:
1. Go to Heroku development app[](https://resilience-app.herokuapp.com/)
2. Click on volunteer call to action button
3. Sign up with phone numer
4. Skip connect Faebook and Google accounts
5. Fill out sign up form and click submit
6. Observe the result

Expected result:
Volunteer will enter their dashboard and see the available missions to volunteer for

Actual result:
The form

[2020-05-07 03:48] CSumm commented on #450
The data that is changed is not persistent with app refreshes. Will put in issue relating to this

[2020-05-07 04:12] CSumm opened #473 "[BUG] Modified user profile data fails to persist after app reload when returning back to user profile page"
1.  Enter [Heroku app](https://resilience-app.herokuapp.com/) and sign up as volunteer
2. Open side navigation and go to user profile
3. Change any field relating to user profile such as photo, city information, etc
4. Click on save changes
5. When app refreshes, go back to user profile page
6. Observe the user profile page

Expected result:
Volunteers can see their profile changes as soon as the

[2020-05-07 04:15] jwu910 commented on #450
@CSumm can you be more detailed with what you mean by that?

[2020-05-07 04:43] CSumm commented on #450
When changing phone number, the success message appears, but on page reload, none of the changes exist. I wrote a ticket that extends @marekdano's bug with a completely void user profile

[2020-05-07 04:46] CSumm opened #474 "[BUG/Enhancement] Form error fails to explain what went wrong when organizer fills out form incorrectly during create a mission process"
1. Go to [Heroku app](https://resilience-app.herokuapp.com/)
2. Sign up as organizer with phone number
3. Open side navigation -> Create a mission
4. Fill form out and submit
5. Observe the error that appears

Expected:
Organizer can receive a clear error message so that form mistakes can be corrected and resubmitted

Actual:
Error appears to say something went wrong, but fails indicate what might

[2020-05-07 08:00] mat10tng commented on #473
This is fixed by https://github.com/factn/resilience-app/pull/463

[2020-05-07 08:04] mat10tng commented on #249
refer to story #396 instead. If you want to do this task,  just assign it to your self. I have already done the link to dashboard though, so maybe just a link back from dashboard to normal home needed

[2020-05-07 08:04] #249 closed

[2020-05-07 09:13] marekdano commented on #396
I can work on this ticket.

[2020-05-07 10:49] utunga commented on #396
Feel like there was a comment about this somewhere else but, at the risk of being redundant.

1. That would be great, thanks @marekdano
2. For MVP.0 we decided it was a bit tricky to have the Organiser Dashboard open up by default.
3. If you edit a user, manually, in the firebase back end it is possible to to set organiser=True flag. (which will suffice for MVP0).
4. If you are an organizer there

[2020-05-07 10:56] marekdano commented on #396
thanks, @utunga. I had a discussion about it with @mat10tng. I'm adding a link to get back from dashboard (Mission control) to app. Is it ok if the link has name of `App`?

[2020-05-07 11:40] utunga commented on #396
@marekdano sorry for delay I honestly dont quite know what you are asking.. but if the name you are thinking of is "Resilience App" then I guess, sure that would be fine. If you mean some other name, make a call. Thanks

[2020-05-07 11:47] marekdano commented on #396
no worries, @utunga. I'll go for your suggested name `Resilience App`. If it's gonna be different we can do that in my next PR.

[2020-05-07 17:26] sahjoo commented on #468
nice catch! i can add an Address 2 form line beneath the main Address 1 line

[2020-05-07 17:34] sahjoo commented on #471
Maybe this is a quick solve for saving accurate addresses for now..
Could we force the user to only get an address inputed into the form if they select one of the listed options that comes up in the search? grubhub and doordash does this (I personally find this annoying only because my address isn't on google maps, so i have no choice but to choose our nearby rental office address. But I'm probabl

[2020-05-07 22:09] jwu910 opened #479 "[Design] something"

[2020-05-07 22:13] #479 closed

[2020-05-07 22:21] mat10tng commented on #471
But then the address and the lat+long are not really corresponding to each other,
the way it works right now is that you pick an address -> this turn into lat, lng

Your suggestion:
address  -> lat, long -> map pin -> move the map pin to correct -> save ?

[2020-05-07 22:43] #452 closed

[2020-05-07 22:47] #473 closed

[2020-05-07 23:18] DAHuerta opened #480 "Create failed mission button"
**Specifications**

- Organizers should have a **button** to mark a delivery as **failed**.

[2020-05-08 02:43] jwu910 opened #481 "Clean up readme"
**Background**
Readme should be clearer and provide concise instructions to help new users ramp up more quickly

[2020-05-08 07:30] #276 closed

[2020-05-08 12:37] #280 closed

[2020-05-08 13:06] #460 closed

[2020-05-08 13:08] utunga opened #485 "CSVLink fail shouldn't be able to take down the whole dashboard page"
Since CSVLink currently renders all data to CSV inside of the button, if something goes wrong with it, it takes down the whole entire dashboard - renders as white.

So apart from actually fixing the bug I /we also need to make sure it doesn't take down the dashboard home if it breaks.

<img width="863" alt="image" src="https://user-images.githubusercontent.com/166867/81408461-65a7c280-9191-11ea-87

[2020-05-08 15:56] jwu910 opened #486 "Create Snackbar context"
Component should be wrapped in a snackbar context provider with a callback to update snackbar

[2020-05-08 18:32] #486 closed

[2020-05-08 21:38] karenkun opened #489 "Update hamburger user menus to reflect the appropriate links for launch."
Recipient's menu should have these link:
https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=3480%3A5711
- note that the volunteer dash link is "Help Volunteer" which goes to volunteer registration

Volunteer's menu should have these links:
https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=3480%3A5547
- note that there is still a "Requests" menu link whi

[2020-05-09 15:10] #447 closed

[2020-05-09 19:08] #435 closed

[2020-05-09 20:36] mat10tng opened #494 "remove AdressInput and algolia dependecy"

[2020-05-09 20:38] mat10tng commented on #442
this is done

[2020-05-09 20:57] #471 closed

[2020-05-09 21:36] #442 closed

[2020-05-09 21:45] mat10tng commented on #438
this is done

[2020-05-09 21:51] mat10tng commented on #434
this is done

[2020-05-10 03:28] jwu910 commented on #467
Can grab that error and pass it into the `snackbarContext.show` method with `error.message` as the `message` prop

[2020-05-10 20:51] amylo commented on #489
I will do this once I complete the permissions and routing implementation.

[2020-05-11 02:21] #485 closed

[2020-05-11 03:55] thirdeyeclub commented on #391
I believe a process such as this might be necessary to increase our trust worthiness among those using our application to be helped! And for Orgs to better hold their volunteers responsible.

[2020-05-11 04:00] thirdeyeclub commented on #382
To keep word count down for users is there a way we could use objective copy in the forms to tell them what it is. As we add more mission types this could become cumbersome for writting a large amount of copy for every mission onboarding.

Fewer words are always better

[2020-05-11 17:16] marekdano commented on #150
@jwu910 is this issue release to the Mission component only? Or the root component should be wrapped with ErrorBoundary?

[2020-05-11 17:26] jwu910 commented on #150
@marekdano Conceptually across the application we should be using ErrorBoundaries to wrap components that can throw errors.

The react errorboundary api is pretty neat as it can render a fallback ui if there is an error state in any component in the component tree. So strategically we can wrap certain parts of each page to show a small error rather than have the whole page crash with console error

[2020-05-11 17:49] marekdano commented on #150
@jwu910 that sounds good. Do you know what components we can wrap with ErrorBoundary? It'll be great if we have a list of those components in the description of this issue.

[2020-05-11 19:27] jwu910 commented on #150
Could start a discussion to help identify those. With the ErrorBoundary component already set up, it'll be easy to implement anywhere we want.

A catch-all method would be to just have it at the top level of every page (though not very ideal). But we should identify where those key components should be.

You can take a look and suggest some good key components. A good place to start would be just

[2020-05-12 00:54] qdozaq opened #507 "UI bug on volunteer dashboard mobile"
Seeing this when checking the site on an iphone both safari and chrome apps.

To test go here and sign in on mobile device: https://mutualaid-757f6.web.app/

appears to be an issue with grid/flex

![IMG_4150](https://user-images.githubusercontent.com/20975817/81626240-1e0b7b80-93c9-11ea-9f47-00da9be7dbd0.PNG)

[2020-05-12 03:51] #467 closed

[2020-05-12 19:08] DAHuerta opened #511 "Recipients can request a combination of food boxes offered"
As a recipient, I can request not just one food box but any combination of the food boxes offered by StudioCity since they are available already

--

Yes, this is a feature request/scope change required to be able to go live with StudiioCity. Definitely a direct contradiction to things we were told earlier but I guess things have moved on since then,

[The list of boxes available is here](https://

[2020-05-12 19:20] DAHuerta opened #512 "StudioCity Organizer can offer more than one type of food box"
As the StudioCity Organiser, I can offer more than one type of food box so that I can have continuity with the Airtable system and maintain the current relationships with farms, donors and recipients

--

Yes, this is a feature request/scope change but its required to be able to go live with StudiioCity. Definitely a direct contradiction to things we were told earlier but I guess things have moved

[2020-05-13 01:03] jwu910 opened #513 "Introduce cross-env for OS agnostic environment variables package.json scripts."
https://www.npmjs.com/package/cross-env

[2020-05-13 01:42] #513 closed

[2020-05-13 05:37] utunga opened #516 "[BUG] Adding a volunteer to a mission from mission dashboard?"
1, On the MissionDashboard,
2. In the planning tab https://resilience-app.herokuapp.com/dashboard/missions?view=inProposed
3. Click a mission, remove volunteer - that works
4. Click a mission (honestly not sure if its the same one or a different one)
5. Choose to add a volunteer, select volunteer, and confirm

**Actual**
The mission card doesn't update.

**Expected:**
Volunteer appears on the card

[2020-05-13 11:06] dyanawu opened #517 "[BUG] app at https://mutualaid-757f6.web.app/ disappears on login"
Repro steps:
1. Visit https://mutualaid-757f6.web.app/ (current staging/QA app deployment)
2. Sign in via phone with either of the sample data number/verification codes

Expected result: Logged in to app
Actual result: App interface appears briefly, then disappears, and the below console errors appear:

![image](https://user-images.githubusercontent.com/41310948/81804900-83d44080-954c-11ea-8672-d9

[2020-05-13 11:09] dyanawu opened #518 "[BUG] / [ui] Missions not requiring funding show up unfunded in Planning view"
Minor QA issue: marking a Proposed mission as 'Funding Not Required' moves it into Planning, but still marked 'Not Yet Funded'. While it's logical, it might be worth updating it to reflect 'Funding Not Required' when in Planning.

Proposed (I then selected Funding Not Required):
![image](https://user-images.githubusercontent.com/41310948/81805303-2ee4fa00-954d-11ea-9554-00b90652b22f.png)

Planning

[2020-05-13 12:00] utunga commented on #517
FYI if you follow the link it tells you the same thing as when you run on localhost, namely

![image](https://user-images.githubusercontent.com/166867/81809718-e857c580-9575-11ea-83cc-b675fb28cd5b.png)

[2020-05-13 12:20] utunga commented on #517
@amylo realize you may not be available any time soon but just FYI I thought I'd tag you in on this one because I think its possibly something to do with the new unauthorized access or maybe the 404 pages. ..

[2020-05-13 12:47] audelerner commented on #474
One way to help the user figure out what went wrong when filling in the form to create a mission could be to add a line of text below each field explaining the nature of the error - e.g., "Use the correct date format X/X/X."

[2020-05-13 13:15] #517 closed

[2020-05-13 14:09] mat10tng commented on #518
I think the mission details is not finished, that is why

[2020-05-13 17:11] JakeG-9191 opened #522 "Open map in new tab"
1. Navigate To Mission Dashboard
2. Click on Available, Accepted or In Progress
3. Note Pick Up or Drop Off location, clicking on one of these will open a new map, it would be helpful to have these open in new tabs

**Actual**
User is redirected away from site / application to new google map page

**Expected**
A new tab is generated with map location and does not direct user away from map

![Issue

[2020-05-13 17:38] JakeG-9191 opened #523 "Failed missions do not appear anywhere for review"
This may be by design, however I believe it would be valuable for users of the Mission Control dashboard to see which missions as failed. As a user of this dashboard I can currently download and see the failed missions in CSV, but not elsewhere.

1. Access Mission Control Dashboard
2. Select In Progress Missions (https://mutualaid-757f6.web.app/dashboard/missions?view=inProgress)
3. Click on any m

[2020-05-13 17:49] JakeG-9191 opened #525 "User Incorrectly Redirected"
1. Open Mission Control Dashboard
2. Navigate to Missions
3. Notice that click into the body of any missions that fall within "Proposed" redirects user to a blank white page, a reload is currently required to return to the dashboard
4. Note that this issue was not experienced in other areas of Mission Control, such as missions that fall under "Planning", "In Progress" or "Done"

**Actual**
Clickin

[2020-05-13 17:59] JakeG-9191 opened #526 "Clarification of reasons behind failure to post mission - wrong input for locations"
1. Navigate to Resilience Application
2. Navigate to Create Mission and enter data for new mission
3. Note that putting in the wrong address format returns a 'Unable to save mission: Wrong input', though it does not specify what the wrong input is, it may be more helpful for users to see that the failure is related directly to the wrong address format, updating message likely provides for better u

[2020-05-13 20:02] JakeG-9191 opened #527 "Spelling Catch - Organizer Signup"
1. Navigate to new organizer signup - https://mutualaid-757f6.web.app/organizer/signup
2. Note spelling issue for 'interested', considering adding '?' at end of first line of text

Actual
'Intereset in become an organizer'

Expected / Requested
'Interested in become an organizer?'

![Issue-SpellingCheck1.PNG](https://images.zenhubusercontent.com/5ebaf217f72f15c885cc6da1/315ffd86-433d-439f-bbbd-4a4

[2020-05-13 20:15] JakeG-9191 opened #528 "Clarification - Information behind 'master' view route within resilience application"
1. Navigate to Resilience App
2. Select In Progress Missions to see list of available in progress missions
3. Note that each mission has a 'view route' item towards the bottom of the card, with a 'master' view route item at the bottom of the page
4. Clicking on this master view route seems to draft routes for all the routes currently available in the In Progress missions (I could be wrong about th

[2020-05-13 21:22] jwu910 commented on #526
Hey @JakeG-9191 I saw there were a few tickets like this being created.

Are you creating issues for bugs?

[2020-05-13 21:26] JakeG-9191 commented on #526
@jwu910 I've opened issues for both bugs and UI items, is it intended that this ticketing should be done in another way?

[2020-05-14 02:04] jwu910 commented on #528
Is this a request to change "View Route" for a group to "View All Routes"?

[2020-05-14 02:09] jwu910 commented on #526
@JakeG-9191 Per our discussion on slack, let's keep the labels off until we've established what we're working with.

If there is a suggestion for a better experience for the user, we'll want to pop that question in on the appropriate slack channel or ping some designers to take a look. Before we create an issue and task some work.

I think Github had started releasing(released) their discussions f

[2020-05-14 02:14] jwu910 commented on #525
@JakeG-9191 Are you familiar with the inspector tool on your browser? If you are, it would be incredibly helpful to list the top section of the stack trace for some quick debugging.

[2020-05-14 02:18] JakeG-9191 commented on #526
@jwu910 Hi Josh, thank you for pointing that out, this was completed before our conversation earlier and I had not gone in to make the changes. Initially I was only given direction to conduct QA by creating new issues, I had not realized this also meant I needed to track down individuals to take care of the particular issues, I'll keep this in mind as I continue to test the application

[2020-05-14 02:19] JakeG-9191 commented on #528
Hi @jwu910 , you may notice that clicking on the final view route compiles all routes available within the In Progress tab, currently there is nothing informing the user that this will happen, I propose that the language change to reflect the aggregation of routes

[2020-05-14 02:20] jwu910 commented on #526
Thanks! Yeah I think to the point of free issue creation, sure your suggestion makes sense, but if the designers hadn't been notified of any required changes to the UI, too, we're gonna start really deviating from the mockups.

Good to keep everyone in sync.

:+1:

[2020-05-14 02:21] JakeG-9191 commented on #525
@jwu910 Hi Josh, thanks for pointing that out, as I hadn't seen the stack trace on other debugging tickets I did not include it, I will keep this in mind with any future QA

[2020-05-14 02:27] JakeG-9191 commented on #526
Sounds good, I actually noticed that this exact issue was created into a ticket 7 days ago with no movement yet so I am going to close out this issue

[2020-05-14 02:30] jwu910 commented on #526
Cool, can you reference that here before you close?

[2020-05-14 02:33] JakeG-9191 commented on #526
Sure thing, issue #474 notes this same issue

[2020-05-14 02:33] #526 closed

[2020-05-14 15:06] mat10tng commented on #448
this is done

[2020-05-14 15:07] mat10tng commented on #480
this is done

[2020-05-14 15:07] mat10tng commented on #450
this is done, request another QA

[2020-05-14 15:14] mat10tng commented on #507
I dont have an iphone to fix this.

[2020-05-14 15:19] #518 closed

[2020-05-14 15:19] #420 closed

[2020-05-14 15:20] #516 closed

[2020-05-14 15:20] mat10tng commented on #527
this is closed by previous pr

[2020-05-14 15:20] #527 closed

[2020-05-14 17:17] jwu910 commented on #448
@utunga moved this to QA per @mat10tng mentioning this is done.

Can we get an updated description for Acceptance criteria for QA to pass so we can close?

[2020-05-14 17:32] jwu910 commented on #522
https://medium.com/sedeo/how-to-fix-target-blank-a-security-and-performance-issue-in-web-pages-2118eba1ce2f

Easy read explaining some tab nabbing exploits around new tabs we want to make sure we cover with this.

[2020-05-14 21:12] andreagaietto opened #539 "[BUG] Typo on Delivery Drop Off Details Screen"
1. After creating a new request and selecting Food Box Delivery, selecting any quantity, and selecting "Next" to proceed to the delivery screen (https://mutualaid-757f6.web.app/request/foodbox)

**Actual**
Text above interactive map contains a typo ("Dragg")

**Expected**
Text should read "Drag"

![typoScreenshot](https://user-images.githubusercontent.com/59374165/81986561-0836ca00-9606-11ea-9ff6-

[2020-05-15 02:12] dyanawu commented on #528
Can I confirm that this is should involve changing 'View Routes' at the bottom of the screen to 'View all routes'? If so, I'll take it

[2020-05-15 02:12] #539 closed

[2020-05-15 04:10] jwu910 commented on #528
@JakeG-9191 https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=29579%3A18608

Looking at the mockups, i think its actually the first "View Route" that is out of place. There is a black bar at the bottom that looks like it could be a button that says "View route for all missions"

Can we change the scope of this to fixing the "view route" and "View Route for All Missions" butt

[2020-05-15 04:56] utunga commented on #528
As the developer of this view route thing, it's great that you spotted this UI bug @JakeG-9191. I messed up. Isn't it great that there are already mockups to look at?

So yes @JakeG-9191 if you wanna dive into this please do - and fix it to look like the mockups.

I would suggest the view route component can still be a single component. It gets included in two different contexts already so it shou

[2020-05-15 04:58] utunga commented on #528
Also, I'm not sure if there is any value in *not* showing a "view route" button for groups of missions on the available and assigned views.

[2020-05-15 17:21] #481 closed

[2020-05-15 17:26] jwu910 opened #542 "Organizers can get to and from mission control"
**Description**

As an organizer, on a desktop device, I can get to and from mission control (navigation)

[Airtable #160](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/rec2JtXXhSV2NfdVF?blocks=hide)

[2020-05-15 18:39] jwu910 commented on #474
We'll need to change the error logic to pass in the `error.message` where this snackbar is being invoked.

Assuming right now that the form submission callback has a try-catch and in the catch its just returning "Error while creating mission. Please try again"

[2020-05-15 21:52] jwu910 commented on #528
@utunga can we jsut ping design for an updated mockup and get some direction on this?

[2020-05-15 22:57] karenkun commented on #528
There are 3 instances of the "view route" functionality. I've attached a gif of how it works and should look like.

Re: the last view route button ---  its basically viewing the route for ALL missions on the page (individual and groups) and creating a driving route for it.

It seems like what's in dev is that that black button is misnamed.
Hopefully this clarifies a bit?

![May-14-2020 21-57-56](h

[2020-05-16 00:36] utunga commented on #528
Thanks Karen, yes that is helpful and the animation is awesome.

Couple of things about the 'view route' on a single mission :
- Do we need that screen real estate for a 'unassign me' button? In some other situations that is there? As far as I know you can 'unassign' yourself right up till a mission has been started
- What do the two address links take you to?

Also perhaps the view route function

[2020-05-16 15:08] utunga opened #546 "In the volunteer dashboard the whole title bar should be clickable"
Currently its possible to click the small <i> to bring up the detail view
![image](https://user-images.githubusercontent.com/166867/82123064-62dd4b00-97eb-11ea-959f-762829cde674.png)

But per the Figma designs it **should** be possible to click the whole title bar to get to the same thing, namely this
<img width="679" alt="image" src="https://user-images.githubusercontent.com/166867/82123085-856f6

[2020-05-16 15:10] dyanawu commented on #449
@jwu910 This is among the airtable cards I was mentioning. Linked a PR that fixes the only issue I found while testing it.

The original implementation was in PR #309

I think this can be closed.

[2020-05-16 15:29] #390 closed

[2020-05-16 15:54] andreagaietto opened #547 "[BUG] Seeing JSON under submitted requests view"
**Steps to reproduce:**
1. As a user, create a new request for a food box delivery.
2. Request funding assistance with the food box delivery during check out.
3. Submit request.
4. Return to the home page of app.
5. Select "my requests" from the right hand menu.
6. View submitted requests.

**Expected result:**
User should be able to view formatted details of their submitted requests.

**Actual Re

[2020-05-16 15:56] mat10tng commented on #547
this is because @qdozaq had to do other priority coming in this week, and the view for this got delayed

[2020-05-16 15:57] andreagaietto commented on #547
Ok perfect, couldn't 100% tell if this was an actual issue or just something in development from airtable.

[2020-05-16 15:58] andreagaietto commented on #547
@mat10tng If this is known I will just close.

[2020-05-16 15:59] #547 closed

[2020-05-16 17:40] andreagaietto commented on #546
I tested this out on a mobile device. I get a blank screen after tapping on the "i" button.

[2020-05-16 18:00] andreagaietto commented on #546
I am also having difficulties confirming a delivery from a volunteer aspect due to the behavior of the pop up box (mobile, chrome browser). It was mentioned to me that concerns are mostly aligned with recipient experience on mobile so I have not reported this as a separate issue at this time, bu if anyone would like for me to break it out in more detail in a bug report, let me know.

[2020-05-16 19:04] andreagaietto opened #548 "Unable to open confirm delivery popup on mobile"
**Description:**
When acting as a volunteer, I am unable to confirm delivery of a package on mobile (chrome), due to behavior of a pop up box. Tested on two different android phones running different versions of android.

**Steps to Reproduce:**
1. On a mobile phone, go to https://mutualaid-757f6.web.app/.
2. On the home page, select "In Progress" to navigate to an in progress mission.
3. Tap "Con

[2020-05-16 19:11] andreagaietto commented on #548
@DAHuerta

This may also be related to what @utunga mentioned on [Issue# 546](https://github.com/factn/resilience-app/issues/546). When I try tapping the "i", about a quarter of the time I get the same behavior (blank screen).

[2020-05-16 23:15] utunga opened #550 "Second page of request/foodbox flow gives error"
**Description**

Blank screen second step of foodbox flow

**Steps to reproduce**

1. Go to staging https://mutualaid-757f6.web.app
2. Click on need help then foodbox
3. Choose quantity, say, 3, of one of the boxes
4. Click Continue

**Actual behavior**

Get a totally blank screen with this error in the console
![image](https://user-images.githubusercontent.com/166867/82132055-9cd04080-982f-11ea-9

[2020-05-16 23:47] jwu910 commented on #449
If this has been QA'd and verified to be working on master, i think we're good to close.

[2020-05-16 23:56] utunga commented on #550
Sorry I didn't get a chance to figure this one out but I did figure out it seems to be that org.location is null on this line ...
https://github.com/factn/resilience-app/blob/97bdb6505f770587a02e44f022e83c709833eed4/src/app/page/Request/foodbox/DeliveryStep.jsx#L105

The weird thing is org.location is not null in other contexts so maybe some weird async thing?

[2020-05-17 00:09] qdozaq commented on #550
Fixed. Somehow the orgs location got switched to an array in the DB. Not sure how that would happen as the schema and data.py dont generate arrays.

[2020-05-17 00:10] qdozaq commented on #550
Ah it got seeded form the data.json which was changed for some reason. creating a PR to change back

[2020-05-17 01:25] qdozaq commented on #546
I tested this on my iPhone and on an andriod emulator but was still getting the popup.
Someone else may need to look at this

[2020-05-17 01:26] qdozaq commented on #548
I tested this on my iPhone and on an android emulator but was still getting the popup.
Someone else may need to look at this

[2020-05-17 03:27] thirdeyeclub commented on #546
On it!

[2020-05-17 03:28] thirdeyeclub commented on #546
On it!!

[2020-05-17 07:09] #550 closed

[2020-05-17 10:55] utunga commented on #431
I realize - now - that I vastly underestimated the complexity of this task. Just saying 'make all fields editable doesn't cut it.  My apologies for that. So going to make this a true 'epic' and maybe have some sub-cards relating to this.

The current designs for the editable view ( I think per @sarahjagrowski ) look like this:

![image](https://user-images.githubusercontent.com/166867/82142433-62e

[2020-05-17 16:48] dyanawu opened #555 "Mission title displays as 'resource' on all missions"
Repro: click 'View Mission Details' in on any mission card in dashboard:

![image](https://user-images.githubusercontent.com/41310948/82154540-3126bb80-98a1-11ea-83e6-f03cc66bec59.png)

[2020-05-17 16:49] dyanawu commented on #555
@jwu910 @utunga

[2020-05-17 16:49] dyanawu commented on #449
Sorry @utunga I forgot to ask you to hold off closing while I ran one last QA:

Mission titles now show up as 'resource' on all missions and I suppose this might be due to the introduction of multiple boxes per mission:
![image](https://user-images.githubusercontent.com/41310948/82154490-f2910100-98a0-11ea-9917-af2ff63b29ad.png)

Issue #555 filed

[2020-05-17 17:19] jwu910 commented on #449
Is the original acceptance criteria of this completed? If there is something like "resource" being the title, i think the new issue you've opened up #555 is out of scope of this and we can close this.

[2020-05-17 17:26] jwu910 commented on #555
https://github.com/factn/resilience-app/commit/6e2a6bbc173c492bc650339175de64f208c9e8c9

It was changed here,

Not sure if a Resource title was expected to be included to display or not.

[2020-05-17 17:50] dyanawu commented on #555
Okay, I see - I think I might be able to work on this. Sef-assigning

[2020-05-17 18:04] jwu910 commented on #555
Yeah it’ll be good to double check what’s supposed to be displayed here.

Maybe confirm with design, haven’t checked if everything had been updated to match the food box -> resource language

[2020-05-17 18:42] dyanawu commented on #555
The displayed title also seems to be caused by the changes in https://github.com/factn/resilience-app/commit/6e2a6bbc173c492bc650339175de64f208c9e8c9, so for now I'll make it display something like a placeholder, and keep working on it after this.

[2020-05-17 19:52] dyanawu commented on #449
Okay, agreed and original criteria (somewhat nebulously come up with) is fine.

[2020-05-17 19:52] #449 closed

[2020-05-17 19:58] #555 closed

[2020-05-17 20:27] thirdeyeclub commented on #546
Please keep this issue still open, I was able to fix the clickable title bar but I haven't been able to antiquity test mobile via my phone as my connection keeps timing out. What i did test i kept getting an org is null ERROR

[2020-05-17 20:37] DrewThomasCorps commented on #525
I am attempting to replicate this. Whenever I click a proposed mission it just moves the map for me. Is this still an issue? (Using chrome on Mac)

[2020-05-17 21:38] amylo commented on #489
I'm thinking of implementing a "logout" page that will:

1. Handle the firebase.logout() in one place
2. Display some loading message while the logout request is made
3. Redirect to home screen once that's done

because currently when logging out, you see a brief glimpse of the Missions screen before it shows the public home screen, which is a pretty janky user experience.

[2020-05-17 22:42] DrewThomasCorps commented on #507
I'm going to look into this. It's my first issue (ever) so if someone can fix it fast go ahead.

[2020-05-17 22:52] utunga opened #561 "Organizers can view and (somtimes) edit volunteer information on mission edit view"
Part of the mission edit user story  - #431

There's a special component for assigning volunteers built already - used in Mission Control in planning view.  We want to keep the business logic the same as that but put it into the mission edit view. Hopefully, this can be (or already is) componentized so it can be reused here.

The organizer needs to be able to:
- see how is assigned to a mission
-

[2020-05-17 22:56] qdozaq commented on #507
@DrewThomasCorps Awesome! I'll assign you to it.
If you have a mac it will probably be a lot easier to debug this issue via the xcode iphone emulator or you should be able to access the dev site via the IP/localhost on your computer through your phone

[2020-05-17 23:47] utunga opened #562 "Organizers can edit or view recipient information on mission edit view"
Part of the mission edit user story  - #431

**Organizers need to be able to view recipient information for recipients who have created an account, but otherwise be able to type in name, email, phone so that we can service recipients without an account on our system.**

The fields involved are
[code]

We will probably be adding a recipientEmailAddress as part of a different task so this card will

[2020-05-18 00:02] utunga opened #563 "Organizers can set pickup location, pickup time, and ready to start using a map preview on mission edit view"
Part of the mission edit user story  - #431

**This card is to ensure that, on the mission edit view, organizers are able to:**
-  **set pickup time**
- **set pickup location (with a preview of location)**
- **check the 'ready to start' box**
- **update 'pickup notes' for the volunteer  **

Many of these things were addressed per #552.  What may be new is that we need to be able to confirm and pre

[2020-05-18 00:10] utunga opened #564 "Organizers can set delivery location, notes and set curbside pickup on mission edit view"
Part of the mission edit user story  - #431

**Some of these functions are already handled as part of #552 but this card is to ensure we can**:
- **set delivery location - with a preview of the address**
- **toggle the 'curbside' delivery option on and off**

The fields involved are;
[code]
Just ignore these fields for now. We dont need this for MVP0 at all. Might come back later.

[code]

We shou

[2020-05-18 00:18] utunga opened #565 "Organizers can create new mission and specify mission details (how many of which food box) and then be taken to mission edit view"
Part of the mission edit user story - #431

**Organizers may also need to create entirely new food box missions as part of MVP0.  To do this they need to be able to specify which foodboxes are in the mission and how many.**

That means bringing this type of editing into the 'create mission' for organizers.

![image.png](https://images.zenhubusercontent.com/5eb47e0e1fddfe7de94f6bfd/36f0b56b-7009-47

[2020-05-18 00:27] utunga opened #566 "Various status/group fields are visible but not editable on Mission edit view"
This is a part of the user story/epic #431

To keep the scope to a minimum the fields mentioned here - which are editable elsewhere in the system - are *not* editable in the mission edit view.

The fields in question are:

[code]
The mission type is always "resource" in the current MVP. However, this should be displayed as 'foodbox' per the mockups.

We also need to summarize the mission details -

[2020-05-18 00:37] utunga opened #567 "Need to revisit the design for organizer edit mission view"
This design task relates to the UserStory/Epic #431

Apologies for significantly underestimating the complexity involved here.

We previously had this airtable task and this (series of) figma mokups
[Airtable #162](https://airtable.com/tblRjd2McKgRW9MKj/viwlRRNI0PZIxrGkc/recUd4ZiLI1THmka5?blocks=hide)

[Figma](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=29260%3A21008)

[2020-05-18 02:21] #507 closed

[2020-05-18 02:34] DrewThomasCorps commented on #472
I'd like to look into this one. It might have to wait until tomorrow night though.

[2020-05-18 02:41] DrewThomasCorps commented on #472
This bug also occurs if you add the Google account in this process.

[2020-05-18 02:43] utunga commented on #472
Huh. Weird bug and for sure @DrewThomasCorps  go for it - maybe assign yourself over on the right? Oh wait, I'll invite you as a contributor so you can do that sort of thing.

[2020-05-18 09:23] utunga opened #571 "Bugs in routing during foodbox request - success goes to a 404"
**Steps to reproduce**

1. Go to  https://mutualaid-757f6.web.app/ and be signed out
1. Click on need help then food box
1. Choose some items and continue
1. Choose curbside pickup and continue
1. Enter name and phone number and then signup
_Validate if needed - I tried this with either validating phone number or with 'i cannot receive sms' checked, same result_
1. Click 'Find me a donation'
1. Cl

[2020-05-18 14:37] JakeG-9191 commented on #525
@DrewThomasCorps Which environment were you using? I neglected to mention it but at the time had been using the app in its form here https://mutualaid-757f6.web.app/dashboard, possible that newer PRs could have fixed it

[2020-05-18 14:39] DrewThomasCorps commented on #525
I was using my local dev environment.

[2020-05-18 18:33] #571 closed

[2020-05-18 21:53] amylo opened #575 "RoutingService needs to support SLUG URLs (eg. /:id)"
Allow `:slug` style routes for the _AppRoute_ otherwise we won't be able to do any sort of dynamic routing.

See https://github.com/factn/resilience-app/issues/571

[2020-05-18 22:01] amylo opened #576 "When the user (Recipient) is logged in, the Home page "/" shows the Volunteer’s mission dashboard"
When the user (Recipient) is logged in, the Home page "/" shows the Volunteer’s mission dashboard.  However this is the desired behavior if the user is Volunteer or Organizer.  The issue is that the Home page route is considered public and anyone can see it, but the current logic right now is that when the user is authenticated they will see Volunteer’s Home.

### Expected Outcome
On the authentic

[2020-05-19 01:10] andreagaietto commented on #548
I was just playing around on my phones and retesting this, and it seems to be working properly now (at least on two different androids). Am considering closing unless anyone wants to keep this open?

[2020-05-19 01:33] andreagaietto opened #578 "Unable to Confirm Mission Delivery"
**Description:**
As a volunteer, after accepting and starting a mission, I am unable to completely confirm the delivery. Attempts to confirm delivery will kick the mission back to "accepted" status.

**Steps to Reproduce:**
1. Log in as a volunteer.
2. Accept a mission under the "Available" section on the Food Box Missions home page.
3. Select "start"  for a mission under the "Accepted" subsection

[2020-05-19 01:34] andreagaietto commented on #548
Closing as this looks great now on my end.

[2020-05-19 01:34] #548 closed

[2020-05-19 02:07] andreagaietto opened #580 "Screen focuses on Proposed and In Progress view (organizer), causing drop down menu to be disconnected"
**Description:**
As an organizer, while in the "Proposed" or "In Progress" sections of Missions Control, if I click on a drop down box for a mission towards the bottom of the screen, the drop down opens in place, while the mission card is scrolled to the top and focused. Clicking on the drop down again, or clicking on the drop down where it opens initially, still functionally works.

**Steps to Re

[2020-05-19 02:07] andreagaietto commented on #580
@jwu910 tagged as requested

[2020-05-19 02:45] utunga opened #581 "Trouble with referers on new domain"
If anyone has ideas on this one it'd be appreciated

Steps to reproduce.
1/ Go to  https://studiocity.resilienceapp.org
2/ Attempt to login

![image](https://user-images.githubusercontent.com/166867/82278834-3ab63d80-99df-11ea-8ee3-87e485107370.png)

It only happens on login. Based on stackoverflow there might be a google API key somewhere that needs to have some referers added to it but I dont kn

[2020-05-19 03:10] qdozaq commented on #581
Needed to whitelist the domain the gcp and firebase console

[2020-05-19 03:10] #581 closed

[2020-05-19 04:15] utunga opened #582 ""Volunteer with us" screen layout looks a bit whack"
Still a bit whack - we should remove the word placeholder copy and center that button.

![image](https://user-images.githubusercontent.com/166867/82283824-95559680-99eb-11ea-96ab-5ef0a02a2320.png)

I mean the rest of the 'sign up as a volunteer' flow also needs to be tidied up but lets start by getting this page in shape

[2020-05-19 07:51] utunga opened #584 "New account doesn't have profile in the menu"
**Steps to reproduce**

1.  Logged out at https://mutualaid-757f6.web.app/
2. Click sign in. Sign in with Google account.
3. See this page

**Expected**

Access to the profile so I can add a phone number etc

**Actual**

Profile is not available in the menu

![image](https://user-images.githubusercontent.com/166867/82299569-c9d84b00-9a09-11ea-8036-a3b569d81bb1.png)

[2020-05-19 07:52] utunga commented on #584
Actually I think this might just be a problem of it being a partial loading thing.

[2020-05-19 09:33] mat10tng opened #585 "OrganizationUid is not set for user when ever sign up or log in"

[2020-05-19 10:05] utunga opened #586 "Facebook login doesnt work / should just be removed from signin - for now"
**Steps to reproduce**
1. Logout then visit sign in at https://mutualaid-757f6.web.app/login

**Expected result**
Either facebook login works or facebook login is not available

**Actual result**
![image](https://user-images.githubusercontent.com/166867/82313484-876c3980-9a1c-11ea-98b8-c2392505e08b.png)

We have the app half set up https://developers.facebook.com/apps/209906623597994/ but it doesn

[2020-05-19 12:16] utunga opened #588 "No missions in VolunteerDashboard"
**Steps to reproduce**

1. Login to https://mutualaid-757f6.web.app as a volunteer
2. Access the volunteer dashboard (aka the volunteer home)

**Expected**

Lots of missions in available at the minimum

**Actual**

No missions visible at all

![image](https://user-images.githubusercontent.com/166867/82325202-eb97f900-9a2e-11ea-8d99-3a77c8db112a.png)

[2020-05-19 12:36] #588 closed

[2020-05-19 15:26] amylo commented on #582
We have to fix the content layout for multiple screens actually. There used to be a `text-align: center` on the App's main CSS file that was originally incorrect. I'm guessing someone fixed it, it really should never have been there in the first place.

So we need to properly style in the theme to center headings and content when we need to, but not forced upon. It seems context dependent, from th

[2020-05-19 18:36] sarahjagrowski opened #591 "Background image for studiocity.resilienceapp.org doesn't load in Safari (text is unreadable)"
![image](https://user-images.githubusercontent.com/63767896/82365072-0170d400-99c5-11ea-81d2-d822dcc9068f.png)

[2020-05-19 21:21] #591 closed

[2020-05-19 21:58] laredotornado commented on #561
Hi, Please assign this to me.

[2020-05-19 22:23] karenkun opened #593 "On Safari, none of the photos appear on the public homepage – only grey boxes."
The file type .webp is not supported in Safari, and since Safari has 52.3% market share of mobile browsing, we should fix this like use .jpg instead of .webp?

<img width="452" alt="Screen Shot 2020-05-19 at 3 11 00 PM" src="https://user-images.githubusercontent.com/2974103/82383781-56234780-99e3-11ea-9905-7f2701536270.png">

[2020-05-19 22:28] jwu910 commented on #593
Hey @karenkun I just submitted a fix for this

https://github.com/factn/resilience-app/pull/592

Where were you looking at this? maybe it hadn't been deployed yet

[2020-05-19 22:42] karenkun commented on #593
I was checking on https://studiocity.resilienceapp.org

[2020-05-20 00:20] utunga opened #596 "Fix social sharing - currently it says 'website created using create-react-app'"
This kinda sucks. **Currently** when you share a link to our site you see..

In facebook:
![image](https://user-images.githubusercontent.com/166867/82391253-01400980-9a95-11ea-99d1-d45eda25f538.png)

In slack:
![image](https://user-images.githubusercontent.com/166867/82391134-aad2cb00-9a94-11ea-94fd-e4a985c4a775.png)

Social integration is a whole thing, obviously, but as a first step it t would b

[2020-05-20 01:06] utunga commented on #593
Just pushed to production can you confirm its fixed at..
https://studiocity.resilienceapp.org ?

[2020-05-20 09:48] mat10tng commented on #489
this is done?

[2020-05-20 10:00] utunga commented on #419
At 9:11 PM (my time) I pushed a new build to staging:
![image](https://user-images.githubusercontent.com/166867/82432869-c1a10e00-9ae4-11ea-9219-d4e341d1e176.png)

Amongst other things, this updated the layout of the 'need help' section on the home page. The view on the left is the latest code the one on the right is the old code.
![image](https://user-images.githubusercontent.com/166867/82432963-

[2020-05-20 20:13] jwu910 commented on #586
Removing the good first issue label, just because I feel that this is more of a firebase configuration. Not a hard task, but little bit of either understanding of the firebase configs, or access to firebase admin panel to select identity management services

[2020-05-20 20:42] marekdano commented on #582
Is someone working on it? I can take it.

[2020-05-21 01:36] qdozaq opened #603 "Phone number not saving via user profile page"
The phone number is not getting saved to a user's `profile` when updating or saving on the profile page.
It **is** updating the the user's `auth` however.

Steps to reproduce:
- Login via social with a new user
- got to `/user/profile`
- update your phone number
- either check your user in the DB or log out the `profile` object connected to your user.
    - You should see that the `phoneNumber` is

[2020-05-21 01:39] qdozaq commented on #603
It looks like UID and a bunch of other things aren't getting added either....

[2020-05-21 02:32] DrewThomasCorps commented on #603
I don't have time to look into it tonight, but I have a hunch that an error is getting thrown when the data is being sanitized. See dataObjectUtil.ts line 34. The organizationUid is a number in the User object but a string in the database. https://github.com/factn/resilience-app/pull/598 might fix this.

[2020-05-21 02:35] DrewThomasCorps commented on #585
https://github.com/factn/resilience-app/pull/598 might fix this.

[2020-05-21 02:45] DrewThomasCorps commented on #356
This is partly completed by https://github.com/factn/resilience-app/pull/598.
The styling is still a little off though.

[2020-05-21 02:53] qdozaq commented on #603
@DrewThomasCorps I believe I've got it worked out here https://github.com/factn/resilience-app/pull/604

[2020-05-21 04:21] #586 closed

[2020-05-21 04:21] #603 closed

[2020-05-21 07:19] karenkun commented on #593
Confirmed its fixed at https://studiocity.resilienceapp.org

[2020-05-21 07:19] #593 closed

[2020-05-21 07:39] amylo commented on #584
Yeah, it takes the menu a second to verify that the user has logged in and showing the menu items. I can put in a loading progress spinner or something during that verification time so that we don't confuse the users. Though to be fair, a new user isn't going to immediately click on that menu right after logging in ;)

[2020-05-21 10:04] mat10tng commented on #585
I cant find anywhere where you actually save the organizational in the process of sign up there,
this should also handle the case where ppl just sign in without proper signing up, because that can also happens....

[2020-05-21 12:28] utunga opened #610 "Accepting a mission causes it to dissapear"
**Steps to reproduce**

1. Visiting https://mutualaid-757f6.web.app/missions as a volunteer.
2. See some available missions
3. Click 'accept' on a bunch of them.

**Expected behavior**

Accepted missions move into 'accepted'.

**Actual behavior**

Accepted missions disappear. No missions appear in accepted

![image](https://user-images.githubusercontent.com/166867/82559076-161abb00-9bc3-11ea-86ac-

[2020-05-21 12:39] utunga opened #612 "Marking a mission as ready, doesn't."
**Steps to reproduce**

1. Visit https://mutualaid-757f6.web.app/dashboard/missions?view=inPlanning as an organizer
2. Select a mission that is marked as not ready.
3. Select 'mark as ready' from the pop up thingy (per screenshot)

**Expected behaviour**

The icon saying 'not read' goes away and it becomes 'ready'. Also that the mission itself changes to 'isReady' status.

**Actual behavior.**

Se

[2020-05-21 13:33] marekdano commented on #396
I've just checked the latest version of `resilience-app` on my local machine and I can confirm that the link from `dashboard` page to get to `missions` page is already implemented. Now I can get from any page in `resilience-app` to `dashboard` and back.
I think the `Airtable #160` can be marked as `Done`.
Can you confirm my thoughts?

[2020-05-21 14:32] #596 closed

[2020-05-21 21:39] utunga commented on #584
Fixed ni #607

[2020-05-21 21:39] #584 closed

[2020-05-21 21:50] #582 closed

[2020-05-21 22:01] #489 closed

[2020-05-21 22:40] karenkun opened #614 "Show actual (num) counters inside hamburger menu (number of Volunteer's missions; number of requests; etc)"
These numbers require more dev effort to output in to the menu so they've been moved into this ticket. (Original hamburger menu ticket: #489)

**Numbers to show in ( ):**

1. number of requests submitted
2. number of requests waiting for confirmation
3. number of missions available
4. number of missions awaiting confirmation (missions that are in progress)
5. number of missions done (missions that

[2020-05-22 02:34] #426 closed

[2020-05-22 02:34] #578 closed

[2020-05-22 06:37] utunga commented on #612
I tried to reproduce this bug locally and it totally doesn't happen locally.

However, i have just tested and am pretty sure this is still a bug on staging. I am pretty confident - just by checking the changes in UX - that I was looking at the truly latest code.  I even reset the organization table (back to the mock data) and the bug is still there.

I do  *not* see any errors in the console log b

[2020-05-22 07:07] mat10tng commented on #614
The options that exist to do deal with this is
1. Keep a counter in our firebase system that handles just this problem
2. Just use SQL database instead of firebase
3. `missions.where(isDone === true).fetchAll().length ` -> pseudocode, the bad option

The MVP option would be doing 3, but we are avoiding hitting the database right now since it is quite costly. Ehm, option 1 is harder, and require ho

[2020-05-22 07:09] karenkun commented on #396
Can confirm it does goes to the correct page.

[2020-05-22 07:09] #396 closed

[2020-05-22 07:15] mat10tng commented on #393
This is ready in design, and also implemented, QA ?

[2020-05-22 07:16] mat10tng commented on #443
I dont even know what this mean, there is three different mission card for organizer, recipient and volunteer.

[2020-05-22 07:18] karenkun commented on #576
Confirm it shows on https://studiocity.resilienceapp.org/

[2020-05-22 07:18] #576 closed

[2020-05-22 07:21] utunga commented on #393
This is not a design issue - its implemented and completed. Closing ...

[2020-05-22 07:21] #393 closed

[2020-05-22 07:21] mat10tng commented on #150
Is this still on going ? If not, please close it

[2020-05-22 07:22] #73 closed

[2020-05-22 07:23] #255 closed

[2020-05-22 07:23] mat10tng commented on #256
this is expected behavior

[2020-05-22 07:23] #256 closed

[2020-05-22 07:23] #260 closed

[2020-05-22 07:24] #290 closed

[2020-05-22 07:25] #314 closed

[2020-05-22 07:26] mat10tng commented on #367
We will add this back once it in the roadmap

[2020-05-22 07:26] #367 closed

[2020-05-22 07:26] #358 closed

[2020-05-22 07:27] mat10tng commented on #377
This is done

[2020-05-22 07:27] #377 closed

[2020-05-22 07:27] #458 closed

[2020-05-22 07:28] mat10tng commented on #423
done

[2020-05-22 07:28] #423 closed

[2020-05-22 07:29] #445 closed

[2020-05-22 07:41] utunga commented on #614
To be clear - since this is a new feature - lets consider it *not* in MVP0 ...

[2020-05-22 08:52] marekdano commented on #150
Not sure where exactly we should add the ErrorBoundary. I thought first to add it to the root, but it doesn't seem the right approach. If you some suggestions where to add ErrorBoundary, just let me know.

[2020-05-22 09:41] #419 closed

[2020-05-22 09:42] utunga commented on #612
This was due to my account having both isOrganizer and isVolunteer flags - I'll file a new bug about that

[2020-05-22 09:42] #612 closed

[2020-05-22 09:43] utunga commented on #610
This was also due to my having an account with both isOrganizer and isVolunteer flags set _i'll file new bugs about that

[2020-05-22 09:43] #610 closed

[2020-05-22 09:50] utunga opened #616 "Accounts with both isOrganizer and isVolunteer flags set have strange behavior"
Specifically #612 and #610 are both examples of bugs that occur if you do this.

**Steps to reproduce**

1. Go into firebase back end
2. Find a relevant account in users table
3. Set flag 'isOrganizer=true' and also set 'isVolunteer=true'

**Expected behavior**

You can accept and start missions

**Actual behavior**

Per descriptions in both  #612 and #610  this is not possible.

[2020-05-22 09:58] utunga commented on #614
Pretty hilarious to list option 2

[2020-05-22 10:08] marekdano commented on #414
I can take this issue. My plan is to replace text input of phone number by the firebase pop-up as it was suggested in #351 if it's OK.

[2020-05-22 14:45] laredotornado commented on #566
Please assign this to me.

[2020-05-22 15:35] andreagaietto commented on #450
@utunga @mat10tng I tested this out and was successfully able to update my phone number and have it stick after logging out/logging back in.

[2020-05-22 15:36] #450 closed

[2020-05-22 18:30] #585 closed

[2020-05-22 19:26] marekdano opened #620 "Align button, text and images to center on some pages for nicer view."
I reviewed a few pages and I suggest that buttons, text, and images should be centered.

### Pages

#### `oops`
<img width="613" alt="Screenshot 2020-05-22 at 20 19 34" src="https://user-images.githubusercontent.com/1914165/82702268-9b58ab00-9c69-11ea-8089-d3572983ab9d.png">

#### `notfound`
<img width="608" alt="Screenshot 2020-05-22 at 20 22 03" src="https://user-images.githubusercontent.com/191

[2020-05-22 19:27] marekdano commented on #620
I can take this issue if it's ok.

[2020-05-22 20:03] qdozaq commented on #620
@marekdano go for it!

These were definitely centered before... I wonder if something happened to the `Page` component?

[2020-05-22 20:39] andreagaietto commented on #366
Verified that all four tabs of missions control (proposed, planning, in progress, and done) are properly interactive and focusing on the correct items, as well as displaying the correct information, when clicking on the map as an organizer. I am closing this item.

[2020-05-22 20:39] #366 closed

[2020-05-22 21:18] mat10tng opened #621 "Pick up and delivery edit on mission details view in the volunteer view"
https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=32012%3A17767

[2020-05-22 21:55] #414 closed

[2020-05-22 22:02] andreagaietto commented on #480
@mat10tng Once a mission is marked as failed, what is the expected behavior for the mission? Should it return to Planning, or just stay in Done, but marked as failed? Thanks.

[2020-05-22 22:11] mat10tng commented on #480
it should move to done

[2020-05-22 22:13] andreagaietto commented on #480
Thanks for confirming!

[2020-05-22 22:16] andreagaietto commented on #424
Closing; things are moving over to the Done section and being marked as failed correctly. Also being reflected as failed in the .csv.

[2020-05-22 22:16] #424 closed

[2020-05-22 22:19] jwu910 opened #622 "Test Epic"

[2020-05-23 02:35] jwu910 commented on #150
So error boundaries catch errors thrown from anywhere down stream in the component tree. If we put just ONE error boundary at the application root, then ANY error in ANY component will bubble up and trigger the error state leading to the rendered error message.

The problem with having just one error boundary at the application level is that that one little error thrown would make the entire appli

[2020-05-23 15:41] DrewThomasCorps commented on #525
I've tried replicating it at https://mutualaid-757f6.web.app/dashboard/missions?view=inProposed but it appears to have been fixed. I'm gonna close the issue.

[2020-05-23 15:41] #525 closed

[2020-05-23 17:45] #622 closed

[2020-05-23 17:48] jwu910 commented on #391
Was anyone other than azmain working on this?

[2020-05-23 19:08] #620 closed

[2020-05-24 15:17] DrewThomasCorps commented on #300
I've looked into this, it appears that the button is supposed to find your current location and fill it in. I'm going to look into why it's not doing that.

[2020-05-24 15:53] DrewThomasCorps commented on #300
https://discourse.algolia.com/t/algolia-places-usedevicelocation-or-default-location/3798/6
They recognized the issue, but didn't actually fix it. You can see it's a problem on their homepage: https://community.algolia.com/places/

[2020-05-24 20:14] DrewThomasCorps commented on #272
From everything I've read, this appears to be a chrome bug, however I was playing around with the manifest.json (and actually updated the link to grab the right favicon) and now it only makes the request on new pages, and I can't get it to make more requests when visiting pages again after the initial load. (I'll submit a PR)

[2020-05-24 20:42] #272 closed

[2020-05-24 21:11] DrewThomasCorps commented on #474
Is this still an issue? I don't see these fields anymore.

[2020-05-24 22:51] sarahjagrowski commented on #567
This Figma frame and the 3 frames next to it show what each of the panels look like when they're open:
https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App?node-id=34319%3A19797

[2020-05-25 01:17] DrewThomasCorps commented on #300
https://github.com/algolia/places/issues/952
So this is actually the intended behavior, but since we don't do anything with the geolocation I'll work on removing it.

[2020-05-25 02:52] DrewThomasCorps commented on #616
I just tried this and it appears to be working for me on both localhost when running npm run start, and on the staging site. Could anyone else replicate this?

[2020-05-25 03:02] DrewThomasCorps opened #627 "Accepting a group of missions throws an error"
<img width="849" alt="Screen Shot 2020-05-24 at 22 57 55" src="https://user-images.githubusercontent.com/41974547/82774277-5fad1500-9e12-11ea-9b7e-036434bb7787.png">
<img width="1096" alt="Screen Shot 2020-05-24 at 22 59 01" src="https://user-images.githubusercontent.com/41974547/82774282-62a80580-9e12-11ea-9a0c-15941cbe4cee.png">

VolunetterHomeMissionList.jsx defines callToAction on line 34, but

[2020-05-25 11:41] utunga opened #629 "Cannot deploy due to `duplicate identifier 'FormData' ` issue"
`npm run build` completes fine but  I get this error when I try to run
`npm run deploy:staging` on master branch, I get the following error:

[code]

... followed by quite a few lines complaining about duplicate typescript identifiers and then eventually this

![image](https://user-images.githubusercontent.com/166867/82809760-efb99000-9ee0-11ea-863f-901b891f2e2b.png)

Been unable to deploy to stag

[2020-05-25 15:12] #480 closed

[2020-05-25 15:17] andreagaietto commented on #434
Closing this; looks to be working well.

[2020-05-25 15:17] #434 closed

[2020-05-25 16:23] #300 closed

[2020-05-25 16:29] #627 closed

[2020-05-25 17:39] #289 closed

[2020-05-25 21:40] laredotornado opened #632 "Time selection doesn't automatically popup when clicking on field"
Look for any place in the app where there are date and time field selectors

<img width="416" alt="Screen Shot 2020-05-25 at 4 35 22 PM" src="https://user-images.githubusercontent.com/14842313/82844431-0a224800-9ea6-11ea-92b5-fa1abb036632.png">

(As of this writing, the above was navigated to when logged in as an organizer -- the 7777777777 phone number will do that -- visiting http://localhost:30

[2020-05-25 22:08] #629 closed

[2020-05-25 22:52] DrewThomasCorps commented on #632
Do we want to let them type it though? I don't know how friendly dragging is on mobile, but I'd imagine that both options would be nice.

[2020-05-25 22:53] DrewThomasCorps commented on #632
But I do think it's an issue that when you click the calendar for the date it doesn't do anything.

[2020-05-26 07:24] #522 closed

[2020-05-26 21:39] laredotornado commented on #385
@DAHuerta , you can assign this to me -- I've got a fix ready.

[2020-05-27 14:46] andreagaietto opened #635 "Successful missions not properly labeled on Done tab of Mission Control (organizer)"
**Description:**
Per zenhub [#437](https://app.zenhub.com/workspaces/resilience-app---stories-5ea20e1b2aec473a87d1339c/issues/factn/resilience-app/437) , as well as the [figma specs](https://www.figma.com/file/GLg0zPNnwMEGIb9TytCrxQ/Resilience-App), organizers should be able to easily differentiate between successful and failed missions in the "Done" tab of Mission Control. Currently, missions mar

[2020-05-27 14:47] andreagaietto commented on #635
@jwu910

[2020-05-27 14:49] andreagaietto commented on #437
@utunga I created a [github issue related to this](https://github.com/factn/resilience-app/issues/635). What column should we move this into?

[2020-05-29 17:53] sarahjoo commented on #427
Hi, testing 1 2 3 :)

[2020-05-29 17:57] DAHuerta commented on #427
We are receiving your message lol

[2020-05-30 12:58] #621 closed

[2020-07-06 15:37] DAHuerta opened #640 "Organizers can create new types of missions"
As NRI Utah + Oregon, I want to create 2 new types of missions and modify the existing delivery mission slightly, so that I can allow users and organizers to engage in a more ad-hoc, local fashion.

**Description:**
- Build/Maintenance--which has a location, # of volunteers needed, and desired date or date range.

- Resources Available/Needed--which have a location, resources needed/avail (just a

[2020-07-06 20:14] DAHuerta opened #641 "Users can Create 3-5 roles for the application, with additional permissions for new features"
As organizers and admins for NRI Utah + Oregon, I want to develop the following roles for our volunteers.

**Description:**

- For MVP, this can be largely a decorative title, which shows up on a user's profile and in search functions. It is likely that we can adapt the existing organizer + volunteer dichotomy, with some added permissions regarding contact information, and the ability to create mi

[2020-07-06 20:26] DAHuerta opened #642 "User can create location-based search + map for discovering missions, food near you."
As a User, I will be able to create and discover locations and volunteer opportunities on a map, so I can see what missions are closest to me.

[2020-07-06 20:39] DAHuerta opened #643 "Organizers can import existing volunteer and organizer lists."
As NRI Utah + NRI Oregon, I would like to import my existing volunteer and organizer list into the app, so that I can create usernames, temp passwords, and generate an email campaign to hype the new system. The goal is to get immediate engagement from our fairly active user base.

**Acceptance Criteria:**

- Entries from our Google Forms will be imported into a functional user account, with an app

[2020-07-06 20:42] DAHuerta opened #644 "Organizers can create unique instance (or multi tenant feature) for Utah and Oregon’s NRI"
As an organizer,  I can create unique instances,  so that other organizations can use there own domain name, logo, and other brand recognition.

[2020-07-09 17:18] DAHuerta commented on #642
@all-contributers add @yoonahbae for some contribution

[2020-07-10 17:46] sarahjoo commented on #640
hey @DAHuerta or @utunga! Me, Jordan Williams and Abraham Friedman would like to work on this one together if this project is still ongoing. I don't think they've been added to zenhub so they'll be contacting you @DAHuerta :)

[2020-07-10 18:20] jordanmswilliams commented on #640
Hi @sarahjoo - I think you should be able to tag me now. I didn't see Abraham username to tag him.

[2020-07-10 18:28] DAHuerta commented on #640
Hello @sarahjoo I think that I have @jordanmswilliams all hooked up with the Zenhub board. I will get in contact with Abe and see if he is connected. Are all 3 of you guys working on this issue? I am about to slide it over to In-Progress.

[2020-07-20 19:36] sarahjoo commented on #640
oops sorry @DAHuerta i missed this. yes, it'll be the 3 of us!

[2020-07-22 19:20] SAAF1 commented on #640
Yeah, I would love a hookup with ZenHub.

[2020-07-30 22:11] yoonahbae commented on #642
Hi Daniel, I worked on this issue and waiting for feedback; could you add me? : )

[2020-09-01 16:53] Erioldoesdesign opened #648 "Designer onboarding: Review the mutual aid app!"
This is a permanent issue that will never be closed! if this gets closed then please re-open it so another designer can assign themselves and review whatever the current iteration of the Mutual Aid app is!

The purpose of this issue is for designers to have a first issue assigned to themselves and to review the app in its current state from their specialism's perspective.

For example, as a UX des